<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0F108FE8-E4DA-4799-BF0C-5662D390A0B3</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ka-cy</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
