<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Che-cy</key>
    <string>C_he-cy.glif</string>
    <key>Cheverticalstroke-cy</key>
    <string>C_heverticalstroke-cy.glif</string>
    <key>De-cy</key>
    <string>D_e-cy.glif</string>
    <key>Dje-cy</key>
    <string>D_je-cy.glif</string>
    <key>El-cy</key>
    <string>E_l-cy.glif</string>
    <key>Em-cy</key>
    <string>E_m-cy.glif</string>
    <key>Fita-cy</key>
    <string>F_ita-cy.glif</string>
    <key>Gedescender-cy</key>
    <string>G_edescender-cy.glif</string>
    <key>Ghestroke-cy</key>
    <string>G_hestroke-cy.glif</string>
    <key>Hardsign-cy</key>
    <string>H_ardsign-cy.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>Ia-cy</key>
    <string>I_a-cy.glif</string>
    <key>Ii-cy</key>
    <string>I_i-cy.glif</string>
    <key>Izhitsa-cy</key>
    <string>I_zhitsa-cy.glif</string>
    <key>Ka-cy</key>
    <string>K_a-cy.glif</string>
    <key>Kabashkir-cy</key>
    <string>K_abashkir-cy.glif</string>
    <key>Kadescender-cy</key>
    <string>K_adescender-cy.glif</string>
    <key>Kaverticalstroke-cy</key>
    <string>K_averticalstroke-cy.glif</string>
    <key>Lcaron</key>
    <string>L_caron.glif</string>
    <key>Lje-cy</key>
    <string>L_je-cy.glif</string>
    <key>Schwa-cy</key>
    <string>S_chwa-cy.glif</string>
    <key>Shcha-cy</key>
    <string>S_hcha-cy.glif</string>
    <key>Softsign-cy</key>
    <string>S_oftsign-cy.glif</string>
    <key>Tse-cy</key>
    <string>T_se-cy.glif</string>
    <key>Tshe-cy</key>
    <string>T_she-cy.glif</string>
    <key>U-cy</key>
    <string>U_-cy.glif</string>
    <key>Yat-cy</key>
    <string>Y_at-cy.glif</string>
    <key>Yusbig-cy</key>
    <string>Y_usbig-cy.glif</string>
    <key>Zedescender-cy</key>
    <string>Z_edescender-cy.glif</string>
    <key>Zhe-cy</key>
    <string>Z_he-cy.glif</string>
    <key>Zhedescender-cy</key>
    <string>Z_hedescender-cy.glif</string>
    <key>be-cy</key>
    <string>be-cy.glif</string>
    <key>che-cy</key>
    <string>che-cy.glif</string>
    <key>chedescender-cy</key>
    <string>chedescender-cy.glif</string>
    <key>chekhakassian-cy</key>
    <string>chekhakassian-cy.glif</string>
    <key>cheverticalstroke-cy</key>
    <string>cheverticalstroke-cy.glif</string>
    <key>de-cy</key>
    <string>de-cy.glif</string>
    <key>de-cy.ss01</key>
    <string>de-cy.ss01.glif</string>
    <key>descender-cy</key>
    <string>descender-cy.glif</string>
    <key>dje-cy</key>
    <string>dje-cy.glif</string>
    <key>dzhe-cy</key>
    <string>dzhe-cy.glif</string>
    <key>ef-cy</key>
    <string>ef-cy.glif</string>
    <key>el-cy</key>
    <string>el-cy.glif</string>
    <key>esdescender-cy</key>
    <string>esdescender-cy.glif</string>
    <key>euro.BRACKET.125</key>
    <string>euro.B_R_A_C_K_E_T_.125.glif</string>
    <key>ghemiddlehook-cy</key>
    <string>ghemiddlehook-cy.glif</string>
    <key>hardsign-cy</key>
    <string>hardsign-cy.glif</string>
    <key>hryvnia</key>
    <string>hryvnia.glif</string>
    <key>hryvnia.BRACKET.125</key>
    <string>hryvnia.B_R_A_C_K_E_T_.125.glif</string>
    <key>ia-cy</key>
    <string>ia-cy.glif</string>
    <key>iu-cy</key>
    <string>iu-cy.glif</string>
    <key>izhitsa-cy</key>
    <string>izhitsa-cy.glif</string>
    <key>ka-cy</key>
    <string>ka-cy.glif</string>
    <key>kabashkir-cy</key>
    <string>kabashkir-cy.glif</string>
    <key>kadescender-cy</key>
    <string>kadescender-cy.glif</string>
    <key>kaverticalstroke-cy</key>
    <string>kaverticalstroke-cy.glif</string>
    <key>lje-cy</key>
    <string>lje-cy.glif</string>
    <key>nje-cy</key>
    <string>nje-cy.glif</string>
    <key>pe-cy</key>
    <string>pe-cy.glif</string>
    <key>softsign-cy</key>
    <string>softsign-cy.glif</string>
    <key>strokeshortcomb</key>
    <string>strokeshortcomb.glif</string>
    <key>tenge</key>
    <string>tenge.glif</string>
    <key>tse-cy</key>
    <string>tse-cy.glif</string>
    <key>tshe-cy</key>
    <string>tshe-cy.glif</string>
    <key>u-cy</key>
    <string>u-cy.glif</string>
    <key>ustrait-cy</key>
    <string>ustrait-cy.glif</string>
    <key>verticalbar-cy</key>
    <string>verticalbar-cy.glif</string>
    <key>verticalbar-cy.case</key>
    <string>verticalbar-cy.case.glif</string>
    <key>yat-cy</key>
    <string>yat-cy.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>yen.BRACKET.125</key>
    <string>yen.B_R_A_C_K_E_T_.125.glif</string>
    <key>yeru-cy</key>
    <string>yeru-cy.glif</string>
    <key>yusbig-cy</key>
    <string>yusbig-cy.glif</string>
    <key>ze-cy</key>
    <string>ze-cy.glif</string>
    <key>zedescender-cy</key>
    <string>zedescender-cy.glif</string>
    <key>zhe-cy</key>
    <string>zhe-cy.glif</string>
    <key>zhedescender-cy</key>
    <string>zhedescender-cy.glif</string>
  </dict>
</plist>
