<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>A86057D2-D532-4FB0-BB54-994DD2D2C339</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<integer>0</integer>
	<key>com.schriftgestaltung.weight</key>
	<string>Light</string>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>300</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>AEacute</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Eng</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcommaaccent</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>f</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>i</string>
		<string>idotless</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>j</string>
		<string>jdotless</string>
		<string>jcircumflex</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>napostrophe</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>eng</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
		<string>germandbls</string>
		<string>longs</string>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcommaaccent</string>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>f_f</string>
		<string>f_f_i</string>
		<string>f_f_l</string>
		<string>fi</string>
		<string>fl</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>A-cy</string>
		<string>Be-cy</string>
		<string>Ve-cy</string>
		<string>Ge-cy</string>
		<string>Gje-cy</string>
		<string>Gheupturn-cy</string>
		<string>De-cy</string>
		<string>Ie-cy</string>
		<string>Iegrave-cy</string>
		<string>Io-cy</string>
		<string>Zhe-cy</string>
		<string>Ze-cy</string>
		<string>Ii-cy</string>
		<string>Iishort-cy</string>
		<string>Iigrave-cy</string>
		<string>Ka-cy</string>
		<string>Kje-cy</string>
		<string>El-cy</string>
		<string>Em-cy</string>
		<string>En-cy</string>
		<string>O-cy</string>
		<string>Pe-cy</string>
		<string>Er-cy</string>
		<string>Es-cy</string>
		<string>Te-cy</string>
		<string>U-cy</string>
		<string>Ushort-cy</string>
		<string>Ef-cy</string>
		<string>Ha-cy</string>
		<string>Che-cy</string>
		<string>Tse-cy</string>
		<string>Sha-cy</string>
		<string>Shcha-cy</string>
		<string>Dzhe-cy</string>
		<string>Softsign-cy</string>
		<string>Hardsign-cy</string>
		<string>Yeru-cy</string>
		<string>Lje-cy</string>
		<string>Nje-cy</string>
		<string>Dze-cy</string>
		<string>E-cy</string>
		<string>Ereversed-cy</string>
		<string>I-cy</string>
		<string>Yi-cy</string>
		<string>Je-cy</string>
		<string>Tshe-cy</string>
		<string>Iu-cy</string>
		<string>Ia-cy</string>
		<string>Dje-cy</string>
		<string>a-cy</string>
		<string>be-cy</string>
		<string>ve-cy</string>
		<string>ge-cy</string>
		<string>gje-cy</string>
		<string>gheupturn-cy</string>
		<string>de-cy</string>
		<string>ie-cy</string>
		<string>iegrave-cy</string>
		<string>io-cy</string>
		<string>zhe-cy</string>
		<string>ze-cy</string>
		<string>ii-cy</string>
		<string>iishort-cy</string>
		<string>iigrave-cy</string>
		<string>ka-cy</string>
		<string>kje-cy</string>
		<string>el-cy</string>
		<string>em-cy</string>
		<string>en-cy</string>
		<string>o-cy</string>
		<string>pe-cy</string>
		<string>er-cy</string>
		<string>es-cy</string>
		<string>te-cy</string>
		<string>u-cy</string>
		<string>ushort-cy</string>
		<string>ef-cy</string>
		<string>ha-cy</string>
		<string>che-cy</string>
		<string>tse-cy</string>
		<string>sha-cy</string>
		<string>shcha-cy</string>
		<string>dzhe-cy</string>
		<string>softsign-cy</string>
		<string>hardsign-cy</string>
		<string>yeru-cy</string>
		<string>lje-cy</string>
		<string>nje-cy</string>
		<string>dze-cy</string>
		<string>e-cy</string>
		<string>ereversed-cy</string>
		<string>i-cy</string>
		<string>yi-cy</string>
		<string>je-cy</string>
		<string>tshe-cy</string>
		<string>iu-cy</string>
		<string>ia-cy</string>
		<string>dje-cy</string>
		<string>mu</string>
		<string>yodyod-hb</string>
		<string>alef-hb</string>
		<string>bet-hb</string>
		<string>gimel-hb</string>
		<string>dalet-hb</string>
		<string>he-hb</string>
		<string>vav-hb</string>
		<string>zayin-hb</string>
		<string>het-hb</string>
		<string>tet-hb</string>
		<string>yod-hb</string>
		<string>finalkaf-hb</string>
		<string>kaf-hb</string>
		<string>lamed-hb</string>
		<string>finalmem-hb</string>
		<string>mem-hb</string>
		<string>finalnun-hb</string>
		<string>nun-hb</string>
		<string>samekh-hb</string>
		<string>ayin-hb</string>
		<string>finalpe-hb</string>
		<string>pe-hb</string>
		<string>finaltsadi-hb</string>
		<string>tsadi-hb</string>
		<string>qof-hb</string>
		<string>resh-hb</string>
		<string>shin-hb</string>
		<string>tav-hb</string>
		<string>shinshindot-hb</string>
		<string>shinsindot-hb</string>
		<string>shindageshshindot-hb</string>
		<string>shindageshsindot-hb</string>
		<string>alefpatah-hb</string>
		<string>alefqamats-hb</string>
		<string>alefdagesh-hb</string>
		<string>betdagesh-hb</string>
		<string>gimeldagesh-hb</string>
		<string>daletdagesh-hb</string>
		<string>hedagesh-hb</string>
		<string>vavdagesh-hb</string>
		<string>zayindagesh-hb</string>
		<string>tetdagesh-hb</string>
		<string>yoddagesh-hb</string>
		<string>finalkafdagesh-hb</string>
		<string>kafdagesh-hb</string>
		<string>lameddagesh-hb</string>
		<string>memdagesh-hb</string>
		<string>nundagesh-hb</string>
		<string>samekhdagesh-hb</string>
		<string>finalpedagesh-hb</string>
		<string>pedagesh-hb</string>
		<string>tsadidagesh-hb</string>
		<string>qofdagesh-hb</string>
		<string>reshdagesh-hb</string>
		<string>shindagesh-hb</string>
		<string>tavdagesh-hb</string>
		<string>vavholam-hb</string>
		<string>pe-hb.black</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>zero.denominator</string>
		<string>one.denominator</string>
		<string>two.denominator</string>
		<string>three.denominator</string>
		<string>four.denominator</string>
		<string>five.denominator</string>
		<string>six.denominator</string>
		<string>seven.denominator</string>
		<string>eight.denominator</string>
		<string>nine.denominator</string>
		<string>zero.numerator</string>
		<string>one.numerator</string>
		<string>two.numerator</string>
		<string>three.numerator</string>
		<string>four.numerator</string>
		<string>five.numerator</string>
		<string>six.numerator</string>
		<string>seven.numerator</string>
		<string>eight.numerator</string>
		<string>nine.numerator</string>
		<string>zero.otlf</string>
		<string>one.otlf</string>
		<string>two.otlf</string>
		<string>three.otlf</string>
		<string>four.otlf</string>
		<string>five.otlf</string>
		<string>six.otlf</string>
		<string>seven.otlf</string>
		<string>eight.otlf</string>
		<string>nine.otlf</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onethird</string>
		<string>twothirds</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>oneeighth</string>
		<string>threeeighths</string>
		<string>fiveeighths</string>
		<string>seveneighths</string>
		<string>zeroinferior</string>
		<string>oneinferior</string>
		<string>twoinferior</string>
		<string>threeinferior</string>
		<string>fourinferior</string>
		<string>fiveinferior</string>
		<string>sixinferior</string>
		<string>seveninferior</string>
		<string>eightinferior</string>
		<string>nineinferior</string>
		<string>zerosuperior</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>foursuperior</string>
		<string>fivesuperior</string>
		<string>sixsuperior</string>
		<string>sevensuperior</string>
		<string>eightsuperior</string>
		<string>ninesuperior</string>
		<string>asterisk</string>
		<string>backslash</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>numbersign</string>
		<string>period</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>underscore</string>
		<string>parenleftinferior</string>
		<string>parenrightinferior</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>parenleftsuperior</string>
		<string>parenrightsuperior</string>
		<string>braceleft.cap</string>
		<string>braceright.cap</string>
		<string>bracketleft.cap</string>
		<string>bracketright.cap</string>
		<string>parenleft.cap</string>
		<string>parenright.cap</string>
		<string>parenleft.denominator</string>
		<string>parenright.denominator</string>
		<string>parenleft.numerator</string>
		<string>parenright.numerator</string>
		<string>parenleft.otlf</string>
		<string>parenright.otlf</string>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>emdash.cap</string>
		<string>endash.cap</string>
		<string>hyphen.cap</string>
		<string>guillemetleft</string>
		<string>guillemetright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>guillemetleft.cap</string>
		<string>guillemetright.cap</string>
		<string>guilsinglleft.cap</string>
		<string>guilsinglright.cap</string>
		<string>geresh-hb</string>
		<string>gershayim-hb</string>
		<string>maqaf-hb</string>
		<string>space</string>
		<string>CR</string>
		<string>.notdef</string>
		<string>.null</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>euro</string>
		<string>florin</string>
		<string>ruble</string>
		<string>sheqel</string>
		<string>sterling</string>
		<string>yen</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>divide</string>
		<string>equal</string>
		<string>greater</string>
		<string>greaterequal</string>
		<string>increment</string>
		<string>infinity</string>
		<string>integral</string>
		<string>less</string>
		<string>lessequal</string>
		<string>logicalnot</string>
		<string>minus</string>
		<string>multiply</string>
		<string>notequal</string>
		<string>partialdiff</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>plus</string>
		<string>plusminus</string>
		<string>product</string>
		<string>radical</string>
		<string>summation</string>
		<string>approxequal.cap</string>
		<string>asciitilde.cap</string>
		<string>divide.cap</string>
		<string>equal.cap</string>
		<string>minus.cap</string>
		<string>multiply.cap</string>
		<string>notequal.cap</string>
		<string>plus.cap</string>
		<string>lozenge</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>copyright</string>
		<string>registered</string>
		<string>section</string>
		<string>trademark</string>
		<string>degree</string>
		<string>estimated</string>
		<string>numero</string>
		<string>asciicircum</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>at.cap</string>
		<string>commaaccentcomb</string>
		<string>commaaccentcomb.cap</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>sheva-hb</string>
		<string>hatafsegol-hb</string>
		<string>hatafpatah-hb</string>
		<string>hatafqamats-hb</string>
		<string>hiriq-hb</string>
		<string>tsere-hb</string>
		<string>segol-hb</string>
		<string>patah-hb</string>
		<string>qamats-hb</string>
		<string>holam-hb</string>
		<string>holamhaser-hb</string>
		<string>qubuts-hb</string>
		<string>dagesh-hb</string>
		<string>shindot-hb</string>
		<string>sindot-hb</string>
		<string>qamatsqatan-hb</string>
		<string>Breve</string>
		<string>Cedilla</string>
		<string>Circumflex</string>
		<string>Dotaccent</string>
		<string>Ogonek</string>
		<string>Ring</string>
		<string>Tilde</string>
		<string>Acute</string>
		<string>Caron</string>
		<string>Dieresis</string>
		<string>Grave</string>
		<string>Hungarumlaut</string>
		<string>Macron</string>
	</array>
</dict>
</plist>
