<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E24BA32A-70DD-4A24-A88A-0AB3E1A53C5D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ka-cy</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
