<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
	</array>
	<key>@MMK_L_D</key>
	<array>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>AE</string>
		<string>AEacute</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>OE</string>
	</array>
	<key>@MMK_L_G</key>
	<array>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
	</array>
	<key>@MMK_L_I</key>
	<array>
		<string>H</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Eng</string>
		<string>Ntilde</string>
	</array>
	<key>@MMK_L_K</key>
	<array>
		<string>K</string>
		<string>Kcommaaccent</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Lslash</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>Q</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcommaaccent</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
	</array>
	<key>@MMK_L_W</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>@MMK_L_afii10020</key>
	<array>
		<string>afii10020</string>
		<string>afii10052</string>
		<string>afii10050</string>
	</array>
	<key>@MMK_L_afii10022</key>
	<array>
		<string>afii10022</string>
		<string>uni0400</string>
		<string>afii10023</string>
	</array>
	<key>@MMK_L_afii10026</key>
	<array>
		<string>afii10026</string>
		<string>afii10027</string>
		<string>uni040D</string>
		<string>afii10029</string>
		<string>afii10030</string>
		<string>afii10031</string>
		<string>afii10033</string>
		<string>afii10041</string>
		<string>afii10042</string>
		<string>afii10145</string>
		<string>afii10045</string>
		<string>afii10055</string>
		<string>afii10056</string>
		<string>afii10049</string>
	</array>
	<key>@MMK_L_afii10028</key>
	<array>
		<string>afii10028</string>
		<string>afii10061</string>
	</array>
	<key>@MMK_L_afii10032</key>
	<array>
		<string>afii10032</string>
		<string>afii10047</string>
		<string>afii10048</string>
	</array>
	<key>@MMK_L_afii10037</key>
	<array>
		<string>afii10037</string>
		<string>afii10062</string>
	</array>
	<key>@MMK_L_afii10040</key>
	<array>
		<string>afii10040</string>
		<string>afii10043</string>
	</array>
	<key>@MMK_L_afii10046</key>
	<array>
		<string>afii10046</string>
		<string>afii10044</string>
		<string>afii10058</string>
		<string>afii10059</string>
	</array>
	<key>@MMK_L_afii10068</key>
	<array>
		<string>afii10068</string>
		<string>afii10100</string>
		<string>afii10098</string>
	</array>
	<key>@MMK_L_afii10070</key>
	<array>
		<string>afii10070</string>
		<string>uni0450</string>
		<string>afii10071</string>
	</array>
	<key>@MMK_L_afii10074</key>
	<array>
		<string>afii10074</string>
		<string>afii10075</string>
		<string>uni045D</string>
		<string>afii10077</string>
		<string>afii10078</string>
		<string>afii10079</string>
		<string>afii10081</string>
		<string>afii10089</string>
		<string>afii10090</string>
		<string>afii10193</string>
		<string>afii10093</string>
		<string>afii10097</string>
	</array>
	<key>@MMK_L_afii10076</key>
	<array>
		<string>afii10076</string>
		<string>afii10109</string>
	</array>
	<key>@MMK_L_afii10080</key>
	<array>
		<string>afii10080</string>
		<string>afii10095</string>
		<string>afii10096</string>
	</array>
	<key>@MMK_L_afii10082</key>
	<array>
		<string>afii10082</string>
		<string>afii10086</string>
	</array>
	<key>@MMK_L_afii10085</key>
	<array>
		<string>afii10085</string>
		<string>afii10110</string>
	</array>
	<key>@MMK_L_afii10088</key>
	<array>
		<string>afii10088</string>
		<string>afii10091</string>
	</array>
	<key>@MMK_L_afii10094</key>
	<array>
		<string>afii10094</string>
		<string>afii10092</string>
		<string>afii10106</string>
		<string>afii10107</string>
	</array>
	<key>@MMK_L_afii10103</key>
	<array>
		<string>afii10103</string>
		<string>afii10104</string>
		<string>afii10105</string>
	</array>
	<key>@MMK_L_b</key>
	<array>
		<string>b</string>
		<string>p</string>
		<string>thorn</string>
	</array>
	<key>@MMK_L_bethebrew</key>
	<array>
		<string>bethebrew</string>
		<string>betdageshhebrew</string>
	</array>
	<key>@MMK_L_c</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
	</array>
	<key>@MMK_L_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_L_d</key>
	<array>
		<string>d</string>
		<string>dcroat</string>
	</array>
	<key>@MMK_L_dalethebrew</key>
	<array>
		<string>dalethebrew</string>
		<string>finalkafhebrew</string>
		<string>daletdageshhebrew</string>
		<string>finalkafdageshhebrew</string>
	</array>
	<key>@MMK_L_dcaron</key>
	<array>
		<string>dcaron</string>
		<string>lcaron</string>
	</array>
	<key>@MMK_L_e</key>
	<array>
		<string>ae</string>
		<string>aeacute</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>oe</string>
	</array>
	<key>@MMK_L_f</key>
	<array>
		<string>f</string>
		<string>f_f</string>
	</array>
	<key>@MMK_L_gimelhebrew</key>
	<array>
		<string>gimelhebrew</string>
		<string>gimeldageshhebrew</string>
	</array>
	<key>@MMK_L_guilsinglleft</key>
	<array>
		<string>guillemotleft</string>
		<string>guilsinglleft</string>
	</array>
	<key>@MMK_L_guilsinglleft.cap</key>
	<array>
		<string>guillemotleft.cap</string>
		<string>guilsinglleft.cap</string>
	</array>
	<key>@MMK_L_guilsinglright</key>
	<array>
		<string>guillemotright</string>
		<string>guilsinglright</string>
	</array>
	<key>@MMK_L_guilsinglright.cap</key>
	<array>
		<string>guillemotright.cap</string>
		<string>guilsinglright.cap</string>
	</array>
	<key>@MMK_L_hyphen</key>
	<array>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
	</array>
	<key>@MMK_L_hyphen.cap</key>
	<array>
		<string>emdash.cap</string>
		<string>endash.cap</string>
		<string>hyphen.cap</string>
	</array>
	<key>@MMK_L_i</key>
	<array>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>j</string>
		<string>dotlessj</string>
		<string>jcircumflex</string>
		<string>f_f_i</string>
		<string>fi</string>
	</array>
	<key>@MMK_L_k</key>
	<array>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
	</array>
	<key>@MMK_L_kafhebrew</key>
	<array>
		<string>kafhebrew</string>
		<string>kafdageshhebrew</string>
	</array>
	<key>@MMK_L_l</key>
	<array>
		<string>l</string>
		<string>lacute</string>
		<string>lcommaaccent</string>
		<string>lslash</string>
		<string>f_f_l</string>
		<string>fl</string>
	</array>
	<key>@MMK_L_lamedhebrew</key>
	<array>
		<string>lamedhebrew</string>
		<string>lameddageshhebrew</string>
	</array>
	<key>@MMK_L_memhebrew</key>
	<array>
		<string>memhebrew</string>
		<string>memdageshhebrew</string>
	</array>
	<key>@MMK_L_n</key>
	<array>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>napostrophe</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>eng</string>
		<string>ntilde</string>
	</array>
	<key>@MMK_L_nunhebrew</key>
	<array>
		<string>nunhebrew</string>
		<string>nundageshhebrew</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
	</array>
	<key>@MMK_L_pehebrew</key>
	<array>
		<string>pehebrew</string>
		<string>pedageshhebrew</string>
		<string>pedageshhebrew.001</string>
	</array>
	<key>@MMK_L_period</key>
	<array>
		<string>comma</string>
		<string>ellipsis</string>
		<string>period</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_L_quoteleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@MMK_L_quoteright</key>
	<array>
		<string>quotedblright</string>
		<string>quoteright</string>
	</array>
	<key>@MMK_L_quotesingle</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
	</array>
	<key>@MMK_L_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
	</array>
	<key>@MMK_L_shinhebrew</key>
	<array>
		<string>shinhebrew</string>
		<string>shinshindothebrew</string>
		<string>shinsindothebrew</string>
		<string>shindageshshindothebrew</string>
		<string>shindageshsindothebrew</string>
		<string>shindageshhebrew</string>
	</array>
	<key>@MMK_L_t</key>
	<array>
		<string>t</string>
		<string>tbar</string>
		<string>tcommaaccent</string>
	</array>
	<key>@MMK_L_tavhebrew</key>
	<array>
		<string>tavhebrew</string>
		<string>tavdageshhebrew</string>
	</array>
	<key>@MMK_L_tethebrew</key>
	<array>
		<string>tethebrew</string>
		<string>samekhhebrew</string>
		<string>tetdageshhebrew</string>
		<string>samekhdageshhebrew</string>
	</array>
	<key>@MMK_L_tsadihebrew</key>
	<array>
		<string>tsadihebrew</string>
		<string>tsadidageshhebrew</string>
	</array>
	<key>@MMK_L_u</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>q</string>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
	</array>
	<key>@MMK_L_vavhebrew</key>
	<array>
		<string>hehebrew</string>
		<string>vavhebrew</string>
		<string>hethebrew</string>
		<string>finalmemhebrew</string>
		<string>finalnunhebrew</string>
		<string>qofhebrew</string>
		<string>hedageshhebrew</string>
		<string>qofdageshhebrew</string>
	</array>
	<key>@MMK_L_w</key>
	<array>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>@MMK_L_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
	</array>
	<key>@MMK_L_yodhebrew</key>
	<array>
		<string>yodhebrew</string>
		<string>yoddageshhebrew</string>
	</array>
	<key>@MMK_L_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>@MMK_L_zayinhebrew</key>
	<array>
		<string>zayinhebrew</string>
		<string>zayindageshhebrew</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>@MMK_R_AE</key>
	<array>
		<string>AE</string>
		<string>AEacute</string>
	</array>
	<key>@MMK_R_I</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Eng</string>
		<string>Ntilde</string>
		<string>P</string>
		<string>Thorn</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
	</array>
	<key>@MMK_R_J</key>
	<array>
		<string>J</string>
		<string>Jcircumflex</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>Q</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcommaaccent</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
	</array>
	<key>@MMK_R_W</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>@MMK_R_ae</key>
	<array>
		<string>ae</string>
		<string>aeacute</string>
	</array>
	<key>@MMK_R_afii10026</key>
	<array>
		<string>afii10018</string>
		<string>afii10019</string>
		<string>afii10020</string>
		<string>afii10052</string>
		<string>afii10050</string>
		<string>afii10022</string>
		<string>uni0400</string>
		<string>afii10023</string>
		<string>afii10026</string>
		<string>afii10027</string>
		<string>uni040D</string>
		<string>afii10028</string>
		<string>afii10061</string>
		<string>afii10030</string>
		<string>afii10031</string>
		<string>afii10033</string>
		<string>afii10034</string>
		<string>afii10040</string>
		<string>afii10042</string>
		<string>afii10043</string>
		<string>afii10145</string>
		<string>afii10046</string>
		<string>afii10045</string>
		<string>afii10059</string>
		<string>afii10055</string>
		<string>afii10056</string>
		<string>afii10048</string>
	</array>
	<key>@MMK_R_afii10029</key>
	<array>
		<string>afii10029</string>
		<string>afii10058</string>
	</array>
	<key>@MMK_R_afii10032</key>
	<array>
		<string>afii10032</string>
		<string>afii10035</string>
		<string>afii10053</string>
	</array>
	<key>@MMK_R_afii10037</key>
	<array>
		<string>afii10037</string>
		<string>afii10062</string>
	</array>
	<key>@MMK_R_afii10074</key>
	<array>
		<string>afii10067</string>
		<string>afii10068</string>
		<string>afii10100</string>
		<string>afii10098</string>
		<string>afii10074</string>
		<string>afii10075</string>
		<string>uni045D</string>
		<string>afii10076</string>
		<string>afii10109</string>
		<string>afii10078</string>
		<string>afii10079</string>
		<string>afii10081</string>
		<string>afii10082</string>
		<string>afii10088</string>
		<string>afii10090</string>
		<string>afii10091</string>
		<string>afii10193</string>
		<string>afii10094</string>
		<string>afii10093</string>
		<string>afii10107</string>
		<string>afii10096</string>
	</array>
	<key>@MMK_R_afii10077</key>
	<array>
		<string>afii10077</string>
		<string>afii10106</string>
	</array>
	<key>@MMK_R_afii10080</key>
	<array>
		<string>afii10070</string>
		<string>uni0450</string>
		<string>afii10071</string>
		<string>afii10080</string>
		<string>afii10083</string>
		<string>afii10101</string>
	</array>
	<key>@MMK_R_afii10085</key>
	<array>
		<string>afii10085</string>
		<string>afii10110</string>
	</array>
	<key>@MMK_R_afii10103</key>
	<array>
		<string>afii10103</string>
		<string>afii10104</string>
	</array>
	<key>@MMK_R_afii10108</key>
	<array>
		<string>afii10108</string>
		<string>afii10099</string>
	</array>
	<key>@MMK_R_bethebrew</key>
	<array>
		<string>bethebrew</string>
		<string>betdageshhebrew</string>
	</array>
	<key>@MMK_R_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_R_d</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>d</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>q</string>
	</array>
	<key>@MMK_R_dalethebrew</key>
	<array>
		<string>dalethebrew</string>
		<string>finalkafhebrew</string>
		<string>daletdageshhebrew</string>
		<string>finalkafdageshhebrew</string>
	</array>
	<key>@MMK_R_dotlessj</key>
	<array>
		<string>dotlessj</string>
		<string>jcircumflex</string>
	</array>
	<key>@MMK_R_f</key>
	<array>
		<string>f</string>
		<string>f_f</string>
		<string>f_f_i</string>
		<string>f_f_l</string>
		<string>fi</string>
		<string>fl</string>
	</array>
	<key>@MMK_R_g</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
	</array>
	<key>@MMK_R_gimelhebrew</key>
	<array>
		<string>gimelhebrew</string>
		<string>gimeldageshhebrew</string>
	</array>
	<key>@MMK_R_guilsinglleft</key>
	<array>
		<string>guillemotleft</string>
		<string>guilsinglleft</string>
	</array>
	<key>@MMK_R_guilsinglleft.cap</key>
	<array>
		<string>guillemotleft.cap</string>
		<string>guilsinglleft.cap</string>
	</array>
	<key>@MMK_R_guilsinglright</key>
	<array>
		<string>guillemotright</string>
		<string>guilsinglright</string>
	</array>
	<key>@MMK_R_guilsinglright.cap</key>
	<array>
		<string>guillemotright.cap</string>
		<string>guilsinglright.cap</string>
	</array>
	<key>@MMK_R_h</key>
	<array>
		<string>b</string>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>thorn</string>
		<string>germandbls</string>
	</array>
	<key>@MMK_R_hethebrew</key>
	<array>
		<string>hehebrew</string>
		<string>hethebrew</string>
		<string>finalmemhebrew</string>
		<string>memhebrew</string>
		<string>nunhebrew</string>
		<string>finalpehebrew</string>
		<string>reshhebrew</string>
		<string>tavhebrew</string>
		<string>hedageshhebrew</string>
		<string>memdageshhebrew</string>
		<string>nundageshhebrew</string>
		<string>tavdageshhebrew</string>
		<string>finalpedageshhebrew.001</string>
	</array>
	<key>@MMK_R_hyphen</key>
	<array>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
	</array>
	<key>@MMK_R_hyphen.cap</key>
	<array>
		<string>emdash.cap</string>
		<string>endash.cap</string>
		<string>hyphen.cap</string>
	</array>
	<key>@MMK_R_i</key>
	<array>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
	</array>
	<key>@MMK_R_kafhebrew</key>
	<array>
		<string>kafhebrew</string>
		<string>kafdageshhebrew</string>
	</array>
	<key>@MMK_R_l</key>
	<array>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>lslash</string>
	</array>
	<key>@MMK_R_lamedhebrew</key>
	<array>
		<string>lamedhebrew</string>
		<string>qofhebrew</string>
		<string>shinhebrew</string>
		<string>shinshindothebrew</string>
		<string>shinsindothebrew</string>
		<string>shindageshshindothebrew</string>
		<string>shindageshsindothebrew</string>
		<string>lameddageshhebrew</string>
		<string>qofdageshhebrew</string>
		<string>shindageshhebrew</string>
	</array>
	<key>@MMK_R_n</key>
	<array>
		<string>kgreenlandic</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>napostrophe</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>eng</string>
		<string>ntilde</string>
		<string>p</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>oe</string>
	</array>
	<key>@MMK_R_period</key>
	<array>
		<string>comma</string>
		<string>ellipsis</string>
		<string>period</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_R_quoteleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@MMK_R_quoteright</key>
	<array>
		<string>quotedblright</string>
		<string>quoteright</string>
	</array>
	<key>@MMK_R_quotesingle</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
	</array>
	<key>@MMK_R_t</key>
	<array>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcommaaccent</string>
	</array>
	<key>@MMK_R_tethebrew</key>
	<array>
		<string>tethebrew</string>
		<string>samekhhebrew</string>
		<string>pehebrew</string>
		<string>tetdageshhebrew</string>
		<string>samekhdageshhebrew</string>
		<string>pedageshhebrew</string>
		<string>pedageshhebrew.001</string>
	</array>
	<key>@MMK_R_tsadihebrew</key>
	<array>
		<string>tsadihebrew</string>
		<string>tsadidageshhebrew</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
	</array>
	<key>@MMK_R_vavhebrew</key>
	<array>
		<string>vavhebrew</string>
		<string>finalnunhebrew</string>
		<string>vavdageshhebrew</string>
	</array>
	<key>@MMK_R_w</key>
	<array>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>@MMK_R_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
	</array>
	<key>@MMK_R_yodhebrew</key>
	<array>
		<string>yodhebrew</string>
		<string>yoddageshhebrew</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>@MMK_R_zayinhebrew</key>
	<array>
		<string>zayinhebrew</string>
		<string>zayindageshhebrew</string>
	</array>
</dict>
</plist>
