<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A-cy</key>
    <string>A_-cy.glif</string>
    <key>Be-cy</key>
    <string>B_e-cy.glif</string>
    <key>Che-cy</key>
    <string>C_he-cy.glif</string>
    <key>Cheverticalstroke-cy</key>
    <string>C_heverticalstroke-cy.glif</string>
    <key>De-cy</key>
    <string>D_e-cy.glif</string>
    <key>Dje-cy</key>
    <string>D_je-cy.glif</string>
    <key>Dze-cy</key>
    <string>D_ze-cy.glif</string>
    <key>Dzhe-cy</key>
    <string>D_zhe-cy.glif</string>
    <key>E-cy</key>
    <string>E_-cy.glif</string>
    <key>Ef-cy</key>
    <string>E_f-cy.glif</string>
    <key>El-cy</key>
    <string>E_l-cy.glif</string>
    <key>Em-cy</key>
    <string>E_m-cy.glif</string>
    <key>En-cy</key>
    <string>E_n-cy.glif</string>
    <key>Er-cy</key>
    <string>E_r-cy.glif</string>
    <key>Ereversed-cy</key>
    <string>E_reversed-cy.glif</string>
    <key>Es-cy</key>
    <string>E_s-cy.glif</string>
    <key>Fita-cy</key>
    <string>F_ita-cy.glif</string>
    <key>Ge-cy</key>
    <string>G_e-cy.glif</string>
    <key>Gje-cy</key>
    <string>G_je-cy.glif</string>
    <key>Ha-cy</key>
    <string>H_a-cy.glif</string>
    <key>Hardsign-cy</key>
    <string>H_ardsign-cy.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>I-cy</key>
    <string>I_-cy.glif</string>
    <key>Ia-cy</key>
    <string>I_a-cy.glif</string>
    <key>Ie-cy</key>
    <string>I_e-cy.glif</string>
    <key>Iegrave-cy</key>
    <string>I_egrave-cy.glif</string>
    <key>Ii-cy</key>
    <string>I_i-cy.glif</string>
    <key>Iigrave-cy</key>
    <string>I_igrave-cy.glif</string>
    <key>Iishort-cy</key>
    <string>I_ishort-cy.glif</string>
    <key>Io-cy</key>
    <string>I_o-cy.glif</string>
    <key>Iu-cy</key>
    <string>I_u-cy.glif</string>
    <key>Je-cy</key>
    <string>J_e-cy.glif</string>
    <key>Ka-cy</key>
    <string>K_a-cy.glif</string>
    <key>Kadescender-cy</key>
    <string>K_adescender-cy.glif</string>
    <key>Kaverticalstroke-cy</key>
    <string>K_averticalstroke-cy.glif</string>
    <key>Kje-cy</key>
    <string>K_je-cy.glif</string>
    <key>Lcaron</key>
    <string>L_caron.glif</string>
    <key>Ldot</key>
    <string>L_dot.glif</string>
    <key>Lje-cy</key>
    <string>L_je-cy.glif</string>
    <key>Nje-cy</key>
    <string>N_je-cy.glif</string>
    <key>O-cy</key>
    <string>O_-cy.glif</string>
    <key>Pe-cy</key>
    <string>P_e-cy.glif</string>
    <key>Schwa-cy</key>
    <string>S_chwa-cy.glif</string>
    <key>Sha-cy</key>
    <string>S_ha-cy.glif</string>
    <key>Shcha-cy</key>
    <string>S_hcha-cy.glif</string>
    <key>Softsign-cy</key>
    <string>S_oftsign-cy.glif</string>
    <key>Te-cy</key>
    <string>T_e-cy.glif</string>
    <key>Tse-cy</key>
    <string>T_se-cy.glif</string>
    <key>Tshe-cy</key>
    <string>T_she-cy.glif</string>
    <key>U-cy</key>
    <string>U_-cy.glif</string>
    <key>Ushort-cy</key>
    <string>U_short-cy.glif</string>
    <key>Ustraitstroke-cy</key>
    <string>U_straitstroke-cy.glif</string>
    <key>Ve-cy</key>
    <string>V_e-cy.glif</string>
    <key>Yat-cy</key>
    <string>Y_at-cy.glif</string>
    <key>Yeru-cy</key>
    <string>Y_eru-cy.glif</string>
    <key>Yi-cy</key>
    <string>Y_i-cy.glif</string>
    <key>Ze-cy</key>
    <string>Z_e-cy.glif</string>
    <key>Zhe-cy</key>
    <string>Z_he-cy.glif</string>
    <key>Zhedescender-cy</key>
    <string>Z_hedescender-cy.glif</string>
    <key>a-cy</key>
    <string>a-cy.glif</string>
    <key>be-cy</key>
    <string>be-cy.glif</string>
    <key>che-cy</key>
    <string>che-cy.glif</string>
    <key>cheverticalstroke-cy</key>
    <string>cheverticalstroke-cy.glif</string>
    <key>de-cy</key>
    <string>de-cy.glif</string>
    <key>de-cy.ss01</key>
    <string>de-cy.ss01.glif</string>
    <key>descender-cy</key>
    <string>descender-cy.glif</string>
    <key>dje-cy</key>
    <string>dje-cy.glif</string>
    <key>dze-cy</key>
    <string>dze-cy.glif</string>
    <key>dzhe-cy</key>
    <string>dzhe-cy.glif</string>
    <key>e-cy</key>
    <string>e-cy.glif</string>
    <key>ef-cy</key>
    <string>ef-cy.glif</string>
    <key>el-cy</key>
    <string>el-cy.glif</string>
    <key>em-cy</key>
    <string>em-cy.glif</string>
    <key>en-cy</key>
    <string>en-cy.glif</string>
    <key>er-cy</key>
    <string>er-cy.glif</string>
    <key>ereversed-cy</key>
    <string>ereversed-cy.glif</string>
    <key>es-cy</key>
    <string>es-cy.glif</string>
    <key>ge-cy</key>
    <string>ge-cy.glif</string>
    <key>ghemiddlehook-cy</key>
    <string>ghemiddlehook-cy.glif</string>
    <key>gje-cy</key>
    <string>gje-cy.glif</string>
    <key>ha-cy</key>
    <string>ha-cy.glif</string>
    <key>hardsign-cy</key>
    <string>hardsign-cy.glif</string>
    <key>hryvnia</key>
    <string>hryvnia.glif</string>
    <key>hryvnia.BRACKET.125</key>
    <string>hryvnia.B_R_A_C_K_E_T_.125.glif</string>
    <key>i-cy</key>
    <string>i-cy.glif</string>
    <key>ia-cy</key>
    <string>ia-cy.glif</string>
    <key>ie-cy</key>
    <string>ie-cy.glif</string>
    <key>iegrave-cy</key>
    <string>iegrave-cy.glif</string>
    <key>ii-cy</key>
    <string>ii-cy.glif</string>
    <key>iigrave-cy</key>
    <string>iigrave-cy.glif</string>
    <key>iishort-cy</key>
    <string>iishort-cy.glif</string>
    <key>io-cy</key>
    <string>io-cy.glif</string>
    <key>iu-cy</key>
    <string>iu-cy.glif</string>
    <key>izhitsa-cy</key>
    <string>izhitsa-cy.glif</string>
    <key>je-cy</key>
    <string>je-cy.glif</string>
    <key>ka-cy</key>
    <string>ka-cy.glif</string>
    <key>kaverticalstroke-cy</key>
    <string>kaverticalstroke-cy.glif</string>
    <key>kje-cy</key>
    <string>kje-cy.glif</string>
    <key>lje-cy</key>
    <string>lje-cy.glif</string>
    <key>nje-cy</key>
    <string>nje-cy.glif</string>
    <key>o-cy</key>
    <string>o-cy.glif</string>
    <key>pe-cy</key>
    <string>pe-cy.glif</string>
    <key>ruble</key>
    <string>ruble.glif</string>
    <key>schwa-cy</key>
    <string>schwa-cy.glif</string>
    <key>sha-cy</key>
    <string>sha-cy.glif</string>
    <key>shcha-cy</key>
    <string>shcha-cy.glif</string>
    <key>softsign-cy</key>
    <string>softsign-cy.glif</string>
    <key>strokeshortcomb</key>
    <string>strokeshortcomb.glif</string>
    <key>te-cy</key>
    <string>te-cy.glif</string>
    <key>tenge</key>
    <string>tenge.glif</string>
    <key>tse-cy</key>
    <string>tse-cy.glif</string>
    <key>tshe-cy</key>
    <string>tshe-cy.glif</string>
    <key>u-cy</key>
    <string>u-cy.glif</string>
    <key>ushort-cy</key>
    <string>ushort-cy.glif</string>
    <key>ustrait-cy</key>
    <string>ustrait-cy.glif</string>
    <key>ve-cy</key>
    <string>ve-cy.glif</string>
    <key>verticalbar-cy</key>
    <string>verticalbar-cy.glif</string>
    <key>verticalbar-cy.case</key>
    <string>verticalbar-cy.case.glif</string>
    <key>yat-cy</key>
    <string>yat-cy.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>yen.BRACKET.125</key>
    <string>yen.B_R_A_C_K_E_T_.125.glif</string>
    <key>yeru-cy</key>
    <string>yeru-cy.glif</string>
    <key>yi-cy</key>
    <string>yi-cy.glif</string>
    <key>ze-cy</key>
    <string>ze-cy.glif</string>
    <key>zhe-cy</key>
    <string>zhe-cy.glif</string>
  </dict>
</plist>
