<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>1</string>
      <string>glyphs.1</string>
    </array>
    <array>
      <string>Aug 29 16, 12:34</string>
      <string>glyphs.A_ug 29 16, 12_34</string>
    </array>
    <array>
      <string>Aug 29 16, 12:34.background</string>
      <string>glyphs.A_ug 29 16, 12_34.background</string>
    </array>
    <array>
      <string>1.background</string>
      <string>glyphs.1.background</string>
    </array>
    <array>
      <string>Sep 9 16, 19:26</string>
      <string>glyphs.S_ep 9 16, 19_26</string>
    </array>
    <array>
      <string>Sep 9 16, 19:26.background</string>
      <string>glyphs.S_ep 9 16, 19_26.background</string>
    </array>
    <array>
      <string>2</string>
      <string>glyphs.2</string>
    </array>
    <array>
      <string>2.background</string>
      <string>glyphs.2.background</string>
    </array>
    <array>
      <string>3</string>
      <string>glyphs.3</string>
    </array>
    <array>
      <string>3.background</string>
      <string>glyphs.3.background</string>
    </array>
    <array>
      <string>Sep 1 16, 18:37</string>
      <string>glyphs.S_ep 1 16, 18_37</string>
    </array>
    <array>
      <string>Sep 1 16, 18:37.background</string>
      <string>glyphs.S_ep 1 16, 18_37.background</string>
    </array>
  </array>
</plist>
