<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>750</integer>
    <key>capHeight</key>
    <integer>700</integer>
    <key>copyright</key>
    <string>Copyright 2015 The Rubik Project Authors (https://github.com/googlefonts/rubik)</string>
    <key>descender</key>
    <integer>-225</integer>
    <key>familyName</key>
    <string>Rubik</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>identifier</key>
        <string>ubrny5iIgC</string>
        <key>y</key>
        <integer>2431</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>TMRrzUgskY</string>
        <key>x</key>
        <integer>74</integer>
        <key>y</key>
        <integer>316</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>ZMRYsD1GtT</string>
        <key>x</key>
        <integer>146</integer>
        <key>y</key>
        <integer>-75</integer>
      </dict>
      <dict>
        <key>identifier</key>
        <string>ns5b0H4oCh</string>
        <key>y</key>
        <integer>415</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2017/03/21 06:32:22</string>
    <key>openTypeHheaAscender</key>
    <integer>935</integer>
    <key>openTypeHheaDescender</key>
    <integer>-250</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Hubert and Fischer</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://www.hubertfischer.com</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Hubert &amp; Fischer</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.google.com/fonts</string>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>935</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-250</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2WeightClass</key>
    <integer>300</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>945</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>307</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-10</integer>
      <integer>0</integer>
      <integer>520</integer>
      <integer>530</integer>
      <integer>700</integer>
      <integer>710</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-220</integer>
      <integer>-190</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>195</integer>
      <integer>80</integer>
      <integer>160</integer>
      <integer>175</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>250</integer>
      <integer>79</integer>
      <integer>233</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-75</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleName</key>
    <string>Black</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>2</integer>
    <key>versionMinor</key>
    <integer>101</integer>
    <key>xHeight</key>
    <integer>520</integer>
  </dict>
</plist>
