<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>.null</key>
	<string>_null.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>AEacute</key>
	<string>A_E_acute.glif</string>
	<key>Aacute</key>
	<string>A_acute.glif</string>
	<key>Abreve</key>
	<string>A_breve.glif</string>
	<key>Acircumflex</key>
	<string>A_circumflex.glif</string>
	<key>Acute</key>
	<string>A_cute.glif</string>
	<key>Adieresis</key>
	<string>A_dieresis.glif</string>
	<key>Agrave</key>
	<string>A_grave.glif</string>
	<key>Amacron</key>
	<string>A_macron.glif</string>
	<key>Aogonek</key>
	<string>A_ogonek.glif</string>
	<key>Aring</key>
	<string>A_ring.glif</string>
	<key>Atilde</key>
	<string>A_tilde.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>Breve</key>
	<string>B_reve.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>CR</key>
	<string>C_R_.glif</string>
	<key>Cacute</key>
	<string>C_acute.glif</string>
	<key>Caron</key>
	<string>C_aron.glif</string>
	<key>Ccaron</key>
	<string>C_caron.glif</string>
	<key>Ccedilla</key>
	<string>C_cedilla.glif</string>
	<key>Ccircumflex</key>
	<string>C_circumflex.glif</string>
	<key>Cdotaccent</key>
	<string>C_dotaccent.glif</string>
	<key>Cedilla</key>
	<string>C_edilla.glif</string>
	<key>Circumflex</key>
	<string>C_ircumflex.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>Dcaron</key>
	<string>D_caron.glif</string>
	<key>Dcroat</key>
	<string>D_croat.glif</string>
	<key>Dieresis</key>
	<string>D_ieresis.glif</string>
	<key>Dotaccent</key>
	<string>D_otaccent.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Eacute</key>
	<string>E_acute.glif</string>
	<key>Ebreve</key>
	<string>E_breve.glif</string>
	<key>Ecaron</key>
	<string>E_caron.glif</string>
	<key>Ecircumflex</key>
	<string>E_circumflex.glif</string>
	<key>Edieresis</key>
	<string>E_dieresis.glif</string>
	<key>Edotaccent</key>
	<string>E_dotaccent.glif</string>
	<key>Egrave</key>
	<string>E_grave.glif</string>
	<key>Emacron</key>
	<string>E_macron.glif</string>
	<key>Eng</key>
	<string>E_ng.glif</string>
	<key>Eogonek</key>
	<string>E_ogonek.glif</string>
	<key>Eth</key>
	<string>E_th.glif</string>
	<key>Euro</key>
	<string>E_uro.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>Gbreve</key>
	<string>G_breve.glif</string>
	<key>Gcircumflex</key>
	<string>G_circumflex.glif</string>
	<key>Gcommaaccent</key>
	<string>G_commaaccent.glif</string>
	<key>Gdotaccent</key>
	<string>G_dotaccent.glif</string>
	<key>Grave</key>
	<string>G_rave.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>Hbar</key>
	<string>H_bar.glif</string>
	<key>Hcircumflex</key>
	<string>H_circumflex.glif</string>
	<key>Hungarumlaut</key>
	<string>H_ungarumlaut.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>IJ</key>
	<string>I_J_.glif</string>
	<key>Iacute</key>
	<string>I_acute.glif</string>
	<key>Ibreve</key>
	<string>I_breve.glif</string>
	<key>Icircumflex</key>
	<string>I_circumflex.glif</string>
	<key>Idieresis</key>
	<string>I_dieresis.glif</string>
	<key>Idotaccent</key>
	<string>I_dotaccent.glif</string>
	<key>Igrave</key>
	<string>I_grave.glif</string>
	<key>Imacron</key>
	<string>I_macron.glif</string>
	<key>Iogonek</key>
	<string>I_ogonek.glif</string>
	<key>Itilde</key>
	<string>I_tilde.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>Jcircumflex</key>
	<string>J_circumflex.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>Kcommaaccent</key>
	<string>K_commaaccent.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>Lacute</key>
	<string>L_acute.glif</string>
	<key>Lcaron</key>
	<string>L_caron.glif</string>
	<key>Lcommaaccent</key>
	<string>L_commaaccent.glif</string>
	<key>Ldot</key>
	<string>L_dot.glif</string>
	<key>Lslash</key>
	<string>L_slash.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>Macron</key>
	<string>M_acron.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>Nacute</key>
	<string>N_acute.glif</string>
	<key>Ncaron</key>
	<string>N_caron.glif</string>
	<key>Ncommaaccent</key>
	<string>N_commaaccent.glif</string>
	<key>Ntilde</key>
	<string>N_tilde.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>O_E_.glif</string>
	<key>Oacute</key>
	<string>O_acute.glif</string>
	<key>Obreve</key>
	<string>O_breve.glif</string>
	<key>Ocircumflex</key>
	<string>O_circumflex.glif</string>
	<key>Odieresis</key>
	<string>O_dieresis.glif</string>
	<key>Ogonek</key>
	<string>O_gonek.glif</string>
	<key>Ograve</key>
	<string>O_grave.glif</string>
	<key>Ohungarumlaut</key>
	<string>O_hungarumlaut.glif</string>
	<key>Omacron</key>
	<string>O_macron.glif</string>
	<key>Oslash</key>
	<string>O_slash.glif</string>
	<key>Oslashacute</key>
	<string>O_slashacute.glif</string>
	<key>Otilde</key>
	<string>O_tilde.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>Racute</key>
	<string>R_acute.glif</string>
	<key>Rcaron</key>
	<string>R_caron.glif</string>
	<key>Rcommaaccent</key>
	<string>R_commaaccent.glif</string>
	<key>Ring</key>
	<string>R_ing.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>Sacute</key>
	<string>S_acute.glif</string>
	<key>Scaron</key>
	<string>S_caron.glif</string>
	<key>Scedilla</key>
	<string>S_cedilla.glif</string>
	<key>Scircumflex</key>
	<string>S_circumflex.glif</string>
	<key>Scommaaccent</key>
	<string>S_commaaccent.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Tbar</key>
	<string>T_bar.glif</string>
	<key>Tcaron</key>
	<string>T_caron.glif</string>
	<key>Tcommaaccent</key>
	<string>T_commaaccent.glif</string>
	<key>Thorn</key>
	<string>T_horn.glif</string>
	<key>Tilde</key>
	<string>T_ilde.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Uacute</key>
	<string>U_acute.glif</string>
	<key>Ubreve</key>
	<string>U_breve.glif</string>
	<key>Ucircumflex</key>
	<string>U_circumflex.glif</string>
	<key>Udieresis</key>
	<string>U_dieresis.glif</string>
	<key>Ugrave</key>
	<string>U_grave.glif</string>
	<key>Uhungarumlaut</key>
	<string>U_hungarumlaut.glif</string>
	<key>Umacron</key>
	<string>U_macron.glif</string>
	<key>Uogonek</key>
	<string>U_ogonek.glif</string>
	<key>Uring</key>
	<string>U_ring.glif</string>
	<key>Utilde</key>
	<string>U_tilde.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>Wacute</key>
	<string>W_acute.glif</string>
	<key>Wcircumflex</key>
	<string>W_circumflex.glif</string>
	<key>Wdieresis</key>
	<string>W_dieresis.glif</string>
	<key>Wgrave</key>
	<string>W_grave.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Yacute</key>
	<string>Y_acute.glif</string>
	<key>Ycircumflex</key>
	<string>Y_circumflex.glif</string>
	<key>Ydieresis</key>
	<string>Y_dieresis.glif</string>
	<key>Ygrave</key>
	<string>Y_grave.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Zacute</key>
	<string>Z_acute.glif</string>
	<key>Zcaron</key>
	<string>Z_caron.glif</string>
	<key>Zdotaccent</key>
	<string>Z_dotaccent.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>abreve</key>
	<string>abreve.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>aeacute</key>
	<string>aeacute.glif</string>
	<key>afii10017</key>
	<string>afii10017.glif</string>
	<key>afii10018</key>
	<string>afii10018.glif</string>
	<key>afii10019</key>
	<string>afii10019.glif</string>
	<key>afii10020</key>
	<string>afii10020.glif</string>
	<key>afii10021</key>
	<string>afii10021.glif</string>
	<key>afii10022</key>
	<string>afii10022.glif</string>
	<key>afii10023</key>
	<string>afii10023.glif</string>
	<key>afii10024</key>
	<string>afii10024.glif</string>
	<key>afii10025</key>
	<string>afii10025.glif</string>
	<key>afii10026</key>
	<string>afii10026.glif</string>
	<key>afii10027</key>
	<string>afii10027.glif</string>
	<key>afii10028</key>
	<string>afii10028.glif</string>
	<key>afii10029</key>
	<string>afii10029.glif</string>
	<key>afii10030</key>
	<string>afii10030.glif</string>
	<key>afii10031</key>
	<string>afii10031.glif</string>
	<key>afii10032</key>
	<string>afii10032.glif</string>
	<key>afii10033</key>
	<string>afii10033.glif</string>
	<key>afii10034</key>
	<string>afii10034.glif</string>
	<key>afii10035</key>
	<string>afii10035.glif</string>
	<key>afii10036</key>
	<string>afii10036.glif</string>
	<key>afii10037</key>
	<string>afii10037.glif</string>
	<key>afii10038</key>
	<string>afii10038.glif</string>
	<key>afii10039</key>
	<string>afii10039.glif</string>
	<key>afii10040</key>
	<string>afii10040.glif</string>
	<key>afii10041</key>
	<string>afii10041.glif</string>
	<key>afii10042</key>
	<string>afii10042.glif</string>
	<key>afii10043</key>
	<string>afii10043.glif</string>
	<key>afii10044</key>
	<string>afii10044.glif</string>
	<key>afii10045</key>
	<string>afii10045.glif</string>
	<key>afii10046</key>
	<string>afii10046.glif</string>
	<key>afii10047</key>
	<string>afii10047.glif</string>
	<key>afii10048</key>
	<string>afii10048.glif</string>
	<key>afii10049</key>
	<string>afii10049.glif</string>
	<key>afii10050</key>
	<string>afii10050.glif</string>
	<key>afii10051</key>
	<string>afii10051.glif</string>
	<key>afii10052</key>
	<string>afii10052.glif</string>
	<key>afii10053</key>
	<string>afii10053.glif</string>
	<key>afii10054</key>
	<string>afii10054.glif</string>
	<key>afii10055</key>
	<string>afii10055.glif</string>
	<key>afii10056</key>
	<string>afii10056.glif</string>
	<key>afii10057</key>
	<string>afii10057.glif</string>
	<key>afii10058</key>
	<string>afii10058.glif</string>
	<key>afii10059</key>
	<string>afii10059.glif</string>
	<key>afii10060</key>
	<string>afii10060.glif</string>
	<key>afii10061</key>
	<string>afii10061.glif</string>
	<key>afii10062</key>
	<string>afii10062.glif</string>
	<key>afii10065</key>
	<string>afii10065.glif</string>
	<key>afii10066</key>
	<string>afii10066.glif</string>
	<key>afii10067</key>
	<string>afii10067.glif</string>
	<key>afii10068</key>
	<string>afii10068.glif</string>
	<key>afii10069</key>
	<string>afii10069.glif</string>
	<key>afii10070</key>
	<string>afii10070.glif</string>
	<key>afii10071</key>
	<string>afii10071.glif</string>
	<key>afii10072</key>
	<string>afii10072.glif</string>
	<key>afii10073</key>
	<string>afii10073.glif</string>
	<key>afii10074</key>
	<string>afii10074.glif</string>
	<key>afii10075</key>
	<string>afii10075.glif</string>
	<key>afii10076</key>
	<string>afii10076.glif</string>
	<key>afii10077</key>
	<string>afii10077.glif</string>
	<key>afii10078</key>
	<string>afii10078.glif</string>
	<key>afii10079</key>
	<string>afii10079.glif</string>
	<key>afii10080</key>
	<string>afii10080.glif</string>
	<key>afii10081</key>
	<string>afii10081.glif</string>
	<key>afii10082</key>
	<string>afii10082.glif</string>
	<key>afii10083</key>
	<string>afii10083.glif</string>
	<key>afii10084</key>
	<string>afii10084.glif</string>
	<key>afii10085</key>
	<string>afii10085.glif</string>
	<key>afii10086</key>
	<string>afii10086.glif</string>
	<key>afii10087</key>
	<string>afii10087.glif</string>
	<key>afii10088</key>
	<string>afii10088.glif</string>
	<key>afii10089</key>
	<string>afii10089.glif</string>
	<key>afii10090</key>
	<string>afii10090.glif</string>
	<key>afii10091</key>
	<string>afii10091.glif</string>
	<key>afii10092</key>
	<string>afii10092.glif</string>
	<key>afii10093</key>
	<string>afii10093.glif</string>
	<key>afii10094</key>
	<string>afii10094.glif</string>
	<key>afii10095</key>
	<string>afii10095.glif</string>
	<key>afii10096</key>
	<string>afii10096.glif</string>
	<key>afii10097</key>
	<string>afii10097.glif</string>
	<key>afii10098</key>
	<string>afii10098.glif</string>
	<key>afii10099</key>
	<string>afii10099.glif</string>
	<key>afii10100</key>
	<string>afii10100.glif</string>
	<key>afii10101</key>
	<string>afii10101.glif</string>
	<key>afii10102</key>
	<string>afii10102.glif</string>
	<key>afii10103</key>
	<string>afii10103.glif</string>
	<key>afii10104</key>
	<string>afii10104.glif</string>
	<key>afii10105</key>
	<string>afii10105.glif</string>
	<key>afii10106</key>
	<string>afii10106.glif</string>
	<key>afii10107</key>
	<string>afii10107.glif</string>
	<key>afii10108</key>
	<string>afii10108.glif</string>
	<key>afii10109</key>
	<string>afii10109.glif</string>
	<key>afii10110</key>
	<string>afii10110.glif</string>
	<key>afii10145</key>
	<string>afii10145.glif</string>
	<key>afii10193</key>
	<string>afii10193.glif</string>
	<key>afii61352</key>
	<string>afii61352.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>alefdageshhebrew</key>
	<string>alefdageshhebrew.glif</string>
	<key>alefhebrew</key>
	<string>alefhebrew.glif</string>
	<key>alefpatahhebrew</key>
	<string>alefpatahhebrew.glif</string>
	<key>alefqamatshebrew</key>
	<string>alefqamatshebrew.glif</string>
	<key>amacron</key>
	<string>amacron.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>aogonek</key>
	<string>aogonek.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>approxequal.cap</key>
	<string>approxequal.cap.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asciitilde.cap</key>
	<string>asciitilde.cap.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>at.cap</key>
	<string>at.cap.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>ayinhebrew</key>
	<string>ayinhebrew.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>betdageshhebrew</key>
	<string>betdageshhebrew.glif</string>
	<key>bethebrew</key>
	<string>bethebrew.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceleft.cap</key>
	<string>braceleft.cap.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>braceright.cap</key>
	<string>braceright.cap.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketleft.cap</key>
	<string>bracketleft.cap.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>bracketright.cap</key>
	<string>bracketright.cap.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>cacute</key>
	<string>cacute.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>ccaron</key>
	<string>ccaron.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>ccircumflex</key>
	<string>ccircumflex.glif</string>
	<key>cdotaccent</key>
	<string>cdotaccent.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>commaaccent</key>
	<string>commaaccent.glif</string>
	<key>commaaccent.cap</key>
	<string>commaaccent.cap.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dageshhebrew</key>
	<string>dageshhebrew.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>daletdageshhebrew</key>
	<string>daletdageshhebrew.glif</string>
	<key>dalethebrew</key>
	<string>dalethebrew.glif</string>
	<key>dcaron</key>
	<string>dcaron.glif</string>
	<key>dcroat</key>
	<string>dcroat.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>divide.cap</key>
	<string>divide.cap.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>dotlessj</key>
	<string>dotlessj.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ebreve</key>
	<string>ebreve.glif</string>
	<key>ecaron</key>
	<string>ecaron.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>edotaccent</key>
	<string>edotaccent.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.denominator</key>
	<string>eight.denominator.glif</string>
	<key>eight.numerator</key>
	<string>eight.numerator.glif</string>
	<key>eight.otlf</key>
	<string>eight.otlf.glif</string>
	<key>eightinferior</key>
	<string>eightinferior.glif</string>
	<key>eightsuperior</key>
	<string>eightsuperior.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emacron</key>
	<string>emacron.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>emdash.cap</key>
	<string>emdash.cap.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>endash.cap</key>
	<string>endash.cap.glif</string>
	<key>eng</key>
	<string>eng.glif</string>
	<key>eogonek</key>
	<string>eogonek.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>equal.cap</key>
	<string>equal.cap.glif</string>
	<key>estimated</key>
	<string>estimated.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f_f</key>
	<string>f_f.glif</string>
	<key>f_f_i</key>
	<string>f_f_i.glif</string>
	<key>f_f_l</key>
	<string>f_f_l.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>finalkafdageshhebrew</key>
	<string>finalkafdageshhebrew.glif</string>
	<key>finalkafhebrew</key>
	<string>finalkafhebrew.glif</string>
	<key>finalmemhebrew</key>
	<string>finalmemhebrew.glif</string>
	<key>finalnunhebrew</key>
	<string>finalnunhebrew.glif</string>
	<key>finalpedageshhebrew</key>
	<string>finalpedageshhebrew.glif</string>
	<key>finalpedageshhebrew.001</key>
	<string>finalpedageshhebrew.001.glif</string>
	<key>finalpehebrew</key>
	<string>finalpehebrew.glif</string>
	<key>finaltsadihebrew</key>
	<string>finaltsadihebrew.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.denominator</key>
	<string>five.denominator.glif</string>
	<key>five.numerator</key>
	<string>five.numerator.glif</string>
	<key>five.otlf</key>
	<string>five.otlf.glif</string>
	<key>fiveeighths</key>
	<string>fiveeighths.glif</string>
	<key>fiveinferior</key>
	<string>fiveinferior.glif</string>
	<key>fivesuperior</key>
	<string>fivesuperior.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.denominator</key>
	<string>four.denominator.glif</string>
	<key>four.numerator</key>
	<string>four.numerator.glif</string>
	<key>four.otlf</key>
	<string>four.otlf.glif</string>
	<key>fourinferior</key>
	<string>fourinferior.glif</string>
	<key>foursuperior</key>
	<string>foursuperior.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>gbreve</key>
	<string>gbreve.glif</string>
	<key>gcircumflex</key>
	<string>gcircumflex.glif</string>
	<key>gcommaaccent</key>
	<string>gcommaaccent.glif</string>
	<key>gdotaccent</key>
	<string>gdotaccent.glif</string>
	<key>gereshhebrew</key>
	<string>gereshhebrew.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>gershayimhebrew</key>
	<string>gershayimhebrew.glif</string>
	<key>gimeldageshhebrew</key>
	<string>gimeldageshhebrew.glif</string>
	<key>gimelhebrew</key>
	<string>gimelhebrew.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotleft.cap</key>
	<string>guillemotleft.cap.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guillemotright.cap</key>
	<string>guillemotright.cap.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglleft.cap</key>
	<string>guilsinglleft.cap.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>guilsinglright.cap</key>
	<string>guilsinglright.cap.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hatafpatahhebrew</key>
	<string>hatafpatahhebrew.glif</string>
	<key>hatafqamatshebrew</key>
	<string>hatafqamatshebrew.glif</string>
	<key>hatafsegolhebrew</key>
	<string>hatafsegolhebrew.glif</string>
	<key>hbar</key>
	<string>hbar.glif</string>
	<key>hcircumflex</key>
	<string>hcircumflex.glif</string>
	<key>hedageshhebrew</key>
	<string>hedageshhebrew.glif</string>
	<key>hehebrew</key>
	<string>hehebrew.glif</string>
	<key>hethebrew</key>
	<string>hethebrew.glif</string>
	<key>hiriqhebrew</key>
	<string>hiriqhebrew.glif</string>
	<key>holamhaserhebrew</key>
	<string>holamhaserhebrew.glif</string>
	<key>holamhebrew</key>
	<string>holamhebrew.glif</string>
	<key>hungarumlaut</key>
	<string>hungarumlaut.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>hyphen.cap</key>
	<string>hyphen.cap.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>ibreve</key>
	<string>ibreve.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>ij</key>
	<string>ij.glif</string>
	<key>imacron</key>
	<string>imacron.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>integral</key>
	<string>integral.glif</string>
	<key>iogonek</key>
	<string>iogonek.glif</string>
	<key>itilde</key>
	<string>itilde.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>jcircumflex</key>
	<string>jcircumflex.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>kafdageshhebrew</key>
	<string>kafdageshhebrew.glif</string>
	<key>kafhebrew</key>
	<string>kafhebrew.glif</string>
	<key>kcommaaccent</key>
	<string>kcommaaccent.glif</string>
	<key>kgreenlandic</key>
	<string>kgreenlandic.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>lacute</key>
	<string>lacute.glif</string>
	<key>lameddageshhebrew</key>
	<string>lameddageshhebrew.glif</string>
	<key>lamedhebrew</key>
	<string>lamedhebrew.glif</string>
	<key>lcaron</key>
	<string>lcaron.glif</string>
	<key>lcommaaccent</key>
	<string>lcommaaccent.glif</string>
	<key>ldot</key>
	<string>ldot.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>longs</key>
	<string>longs.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>maqafhebrew</key>
	<string>maqafhebrew.glif</string>
	<key>memdageshhebrew</key>
	<string>memdageshhebrew.glif</string>
	<key>memhebrew</key>
	<string>memhebrew.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>minus.cap</key>
	<string>minus.cap.glif</string>
	<key>mu</key>
	<string>mu.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>multiply.cap</key>
	<string>multiply.cap.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nacute</key>
	<string>nacute.glif</string>
	<key>napostrophe</key>
	<string>napostrophe.glif</string>
	<key>ncaron</key>
	<string>ncaron.glif</string>
	<key>ncommaaccent</key>
	<string>ncommaaccent.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.denominator</key>
	<string>nine.denominator.glif</string>
	<key>nine.numerator</key>
	<string>nine.numerator.glif</string>
	<key>nine.otlf</key>
	<string>nine.otlf.glif</string>
	<key>nineinferior</key>
	<string>nineinferior.glif</string>
	<key>ninesuperior</key>
	<string>ninesuperior.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>notequal.cap</key>
	<string>notequal.cap.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>nundageshhebrew</key>
	<string>nundageshhebrew.glif</string>
	<key>nunhebrew</key>
	<string>nunhebrew.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>obreve</key>
	<string>obreve.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>ohungarumlaut</key>
	<string>ohungarumlaut.glif</string>
	<key>omacron</key>
	<string>omacron.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.denominator</key>
	<string>one.denominator.glif</string>
	<key>one.numerator</key>
	<string>one.numerator.glif</string>
	<key>one.otlf</key>
	<string>one.otlf.glif</string>
	<key>oneeighth</key>
	<string>oneeighth.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>oneinferior</key>
	<string>oneinferior.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>onesuperior</key>
	<string>onesuperior.glif</string>
	<key>onethird</key>
	<string>onethird.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>oslashacute</key>
	<string>oslashacute.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenleft.cap</key>
	<string>parenleft.cap.glif</string>
	<key>parenleft.denominator</key>
	<string>parenleft.denominator.glif</string>
	<key>parenleft.numerator</key>
	<string>parenleft.numerator.glif</string>
	<key>parenleft.otlf</key>
	<string>parenleft.otlf.glif</string>
	<key>parenleftinferior</key>
	<string>parenleftinferior.glif</string>
	<key>parenleftsuperior</key>
	<string>parenleftsuperior.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>parenright.cap</key>
	<string>parenright.cap.glif</string>
	<key>parenright.denominator</key>
	<string>parenright.denominator.glif</string>
	<key>parenright.numerator</key>
	<string>parenright.numerator.glif</string>
	<key>parenright.otlf</key>
	<string>parenright.otlf.glif</string>
	<key>parenrightinferior</key>
	<string>parenrightinferior.glif</string>
	<key>parenrightsuperior</key>
	<string>parenrightsuperior.glif</string>
	<key>partialdiff</key>
	<string>partialdiff.glif</string>
	<key>patahhebrew</key>
	<string>patahhebrew.glif</string>
	<key>pedageshhebrew</key>
	<string>pedageshhebrew.glif</string>
	<key>pedageshhebrew.001</key>
	<string>pedageshhebrew.001.glif</string>
	<key>pehebrew</key>
	<string>pehebrew.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plus.cap</key>
	<string>plus.cap.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>product</key>
	<string>product.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>qamatshebrew</key>
	<string>qamatshebrew.glif</string>
	<key>qofdageshhebrew</key>
	<string>qofdageshhebrew.glif</string>
	<key>qofhebrew</key>
	<string>qofhebrew.glif</string>
	<key>qubutshebrew</key>
	<string>qubutshebrew.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>racute</key>
	<string>racute.glif</string>
	<key>radical</key>
	<string>radical.glif</string>
	<key>rcaron</key>
	<string>rcaron.glif</string>
	<key>rcommaaccent</key>
	<string>rcommaaccent.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>reshdageshhebrew</key>
	<string>reshdageshhebrew.glif</string>
	<key>reshhebrew</key>
	<string>reshhebrew.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>ruble</key>
	<string>ruble.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>sacute</key>
	<string>sacute.glif</string>
	<key>samekhdageshhebrew</key>
	<string>samekhdageshhebrew.glif</string>
	<key>samekhhebrew</key>
	<string>samekhhebrew.glif</string>
	<key>scaron</key>
	<string>scaron.glif</string>
	<key>scedilla</key>
	<string>scedilla.glif</string>
	<key>scircumflex</key>
	<string>scircumflex.glif</string>
	<key>scommaaccent</key>
	<string>scommaaccent.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>segolhebrew</key>
	<string>segolhebrew.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.denominator</key>
	<string>seven.denominator.glif</string>
	<key>seven.numerator</key>
	<string>seven.numerator.glif</string>
	<key>seven.otlf</key>
	<string>seven.otlf.glif</string>
	<key>seveneighths</key>
	<string>seveneighths.glif</string>
	<key>seveninferior</key>
	<string>seveninferior.glif</string>
	<key>sevensuperior</key>
	<string>sevensuperior.glif</string>
	<key>sheqel</key>
	<string>sheqel.glif</string>
	<key>shevahebrew</key>
	<string>shevahebrew.glif</string>
	<key>shindageshhebrew</key>
	<string>shindageshhebrew.glif</string>
	<key>shindageshshindothebrew</key>
	<string>shindageshshindothebrew.glif</string>
	<key>shindageshsindothebrew</key>
	<string>shindageshsindothebrew.glif</string>
	<key>shindothebrew</key>
	<string>shindothebrew.glif</string>
	<key>shinhebrew</key>
	<string>shinhebrew.glif</string>
	<key>shinshindothebrew</key>
	<string>shinshindothebrew.glif</string>
	<key>shinsindothebrew</key>
	<string>shinsindothebrew.glif</string>
	<key>sindothebrew</key>
	<string>sindothebrew.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.denominator</key>
	<string>six.denominator.glif</string>
	<key>six.numerator</key>
	<string>six.numerator.glif</string>
	<key>six.otlf</key>
	<string>six.otlf.glif</string>
	<key>sixinferior</key>
	<string>sixinferior.glif</string>
	<key>sixsuperior</key>
	<string>sixsuperior.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>summation</key>
	<string>summation.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>tavdageshhebrew</key>
	<string>tavdageshhebrew.glif</string>
	<key>tavhebrew</key>
	<string>tavhebrew.glif</string>
	<key>tbar</key>
	<string>tbar.glif</string>
	<key>tcaron</key>
	<string>tcaron.glif</string>
	<key>tcommaaccent</key>
	<string>tcommaaccent.glif</string>
	<key>tetdageshhebrew</key>
	<string>tetdageshhebrew.glif</string>
	<key>tethebrew</key>
	<string>tethebrew.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.denominator</key>
	<string>three.denominator.glif</string>
	<key>three.numerator</key>
	<string>three.numerator.glif</string>
	<key>three.otlf</key>
	<string>three.otlf.glif</string>
	<key>threeeighths</key>
	<string>threeeighths.glif</string>
	<key>threeinferior</key>
	<string>threeinferior.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>threesuperior</key>
	<string>threesuperior.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>tsadidageshhebrew</key>
	<string>tsadidageshhebrew.glif</string>
	<key>tsadihebrew</key>
	<string>tsadihebrew.glif</string>
	<key>tserehebrew</key>
	<string>tserehebrew.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.denominator</key>
	<string>two.denominator.glif</string>
	<key>two.numerator</key>
	<string>two.numerator.glif</string>
	<key>two.otlf</key>
	<string>two.otlf.glif</string>
	<key>twoinferior</key>
	<string>twoinferior.glif</string>
	<key>twosuperior</key>
	<string>twosuperior.glif</string>
	<key>twothirds</key>
	<string>twothirds.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ubreve</key>
	<string>ubreve.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>uhungarumlaut</key>
	<string>uhungarumlaut.glif</string>
	<key>umacron</key>
	<string>umacron.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni0400</key>
	<string>uni0400.glif</string>
	<key>uni040D</key>
	<string>uni040D_.glif</string>
	<key>uni0450</key>
	<string>uni0450.glif</string>
	<key>uni045D</key>
	<string>uni045D_.glif</string>
	<key>uni2206</key>
	<string>uni2206.glif</string>
	<key>uogonek</key>
	<string>uogonek.glif</string>
	<key>uring</key>
	<string>uring.glif</string>
	<key>utilde</key>
	<string>utilde.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>vavdageshhebrew</key>
	<string>vavdageshhebrew.glif</string>
	<key>vavhebrew</key>
	<string>vavhebrew.glif</string>
	<key>vavholamhebrew</key>
	<string>vavholamhebrew.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>wacute</key>
	<string>wacute.glif</string>
	<key>wcircumflex</key>
	<string>wcircumflex.glif</string>
	<key>wdieresis</key>
	<string>wdieresis.glif</string>
	<key>wgrave</key>
	<string>wgrave.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ycircumflex</key>
	<string>ycircumflex.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>ygrave</key>
	<string>ygrave.glif</string>
	<key>yoddageshhebrew</key>
	<string>yoddageshhebrew.glif</string>
	<key>yodhebrew</key>
	<string>yodhebrew.glif</string>
	<key>yodyodhebrew</key>
	<string>yodyodhebrew.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zacute</key>
	<string>zacute.glif</string>
	<key>zayindageshhebrew</key>
	<string>zayindageshhebrew.glif</string>
	<key>zayinhebrew</key>
	<string>zayinhebrew.glif</string>
	<key>zcaron</key>
	<string>zcaron.glif</string>
	<key>zdotaccent</key>
	<string>zdotaccent.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.denominator</key>
	<string>zero.denominator.glif</string>
	<key>zero.numerator</key>
	<string>zero.numerator.glif</string>
	<key>zero.otlf</key>
	<string>zero.otlf.glif</string>
	<key>zeroinferior</key>
	<string>zeroinferior.glif</string>
	<key>zerosuperior</key>
	<string>zerosuperior.glif</string>
</dict>
</plist>
