<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,0.25,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C898A7D1-C5D9-4B29-83F8-602EB33CDA2E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.de-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
