<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Bold Jan 19 16, 17:03</string>
      <string>glyphs.B_old J_an 19 16, 17_03</string>
    </array>
    <array>
      <string>Sep 1 16, 19:04</string>
      <string>glyphs.S_ep 1 16, 19_04</string>
    </array>
    <array>
      <string>Sep 1 16, 19:04.background</string>
      <string>glyphs.S_ep 1 16, 19_04.background</string>
    </array>
    <array>
      <string>Sep 1 16, 18:41</string>
      <string>glyphs.S_ep 1 16, 18_41</string>
    </array>
    <array>
      <string>Sep 1 16, 18:41.background</string>
      <string>glyphs.S_ep 1 16, 18_41.background</string>
    </array>
    <array>
      <string>old</string>
      <string>glyphs.old</string>
    </array>
    <array>
      <string>old.background</string>
      <string>glyphs.old.background</string>
    </array>
    <array>
      <string>Sep 3 16, 11:39</string>
      <string>glyphs.S_ep 3 16, 11_39</string>
    </array>
    <array>
      <string>Bold Sep 16 15, 13:05</string>
      <string>glyphs.B_old S_ep 16 15, 13_05</string>
    </array>
  </array>
</plist>
