<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.fontlab.v2.tth</key>
	<dict>
		<key>stems</key>
		<dict>
			<key>X: 233</key>
			<dict>
				<key>horizontal</key>
				<false/>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>11</key>
					<integer>3</integer>
					<key>15</key>
					<integer>4</integer>
					<key>19</key>
					<integer>5</integer>
					<key>24</key>
					<integer>6</integer>
					<key>8</key>
					<integer>2</integer>
				</dict>
				<key>width</key>
				<integer>233</integer>
			</dict>
			<key>X: 250</key>
			<dict>
				<key>horizontal</key>
				<false/>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>11</key>
					<integer>3</integer>
					<key>15</key>
					<integer>4</integer>
					<key>19</key>
					<integer>5</integer>
					<key>22</key>
					<integer>6</integer>
					<key>8</key>
					<integer>2</integer>
				</dict>
				<key>width</key>
				<integer>250</integer>
			</dict>
			<key>X: 79</key>
			<dict>
				<key>horizontal</key>
				<false/>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>19</key>
					<integer>2</integer>
					<key>32</key>
					<integer>3</integer>
					<key>44</key>
					<integer>4</integer>
					<key>57</key>
					<integer>5</integer>
					<key>70</key>
					<integer>6</integer>
				</dict>
				<key>width</key>
				<integer>79</integer>
			</dict>
			<key>Y: 160</key>
			<dict>
				<key>horizontal</key>
				<true/>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>10</key>
					<integer>2</integer>
					<key>15</key>
					<integer>3</integer>
					<key>20</key>
					<integer>4</integer>
					<key>29</key>
					<integer>5</integer>
					<key>35</key>
					<integer>6</integer>
				</dict>
				<key>width</key>
				<integer>160</integer>
			</dict>
			<key>Y: 175</key>
			<dict>
				<key>horizontal</key>
				<true/>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>15</key>
					<integer>3</integer>
					<key>20</key>
					<integer>4</integer>
					<key>25</key>
					<integer>5</integer>
					<key>32</key>
					<integer>6</integer>
					<key>8</key>
					<integer>2</integer>
				</dict>
				<key>width</key>
				<integer>175</integer>
			</dict>
			<key>Y: 195</key>
			<dict>
				<key>horizontal</key>
				<true/>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>11</key>
					<integer>3</integer>
					<key>20</key>
					<integer>4</integer>
					<key>25</key>
					<integer>5</integer>
					<key>29</key>
					<integer>6</integer>
					<key>8</key>
					<integer>2</integer>
				</dict>
				<key>width</key>
				<integer>195</integer>
			</dict>
			<key>Y: 80</key>
			<dict>
				<key>horizontal</key>
				<true/>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>19</key>
					<integer>2</integer>
					<key>32</key>
					<integer>3</integer>
					<key>44</key>
					<integer>4</integer>
					<key>57</key>
					<integer>5</integer>
					<key>69</key>
					<integer>6</integer>
				</dict>
				<key>width</key>
				<integer>80</integer>
			</dict>
		</dict>
		<key>zones</key>
		<dict>
			<key>b: 0</key>
			<dict>
				<key>position</key>
				<integer>0</integer>
				<key>top</key>
				<false/>
				<key>width</key>
				<integer>10</integer>
			</dict>
			<key>b: 1</key>
			<dict>
				<key>position</key>
				<integer>-190</integer>
				<key>top</key>
				<false/>
				<key>width</key>
				<integer>30</integer>
			</dict>
			<key>t: 0</key>
			<dict>
				<key>position</key>
				<integer>520</integer>
				<key>top</key>
				<true/>
				<key>width</key>
				<integer>10</integer>
			</dict>
			<key>t: 1</key>
			<dict>
				<key>position</key>
				<integer>700</integer>
				<key>top</key>
				<true/>
				<key>width</key>
				<integer>10</integer>
			</dict>
		</dict>
	</dict>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<true/>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>753BBDAC-6788-4781-8AC6-B63D6A4C4D7A</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>AEacute</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Eng</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcommaaccent</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>f</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>j</string>
		<string>dotlessj</string>
		<string>jcircumflex</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>napostrophe</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>eng</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
		<string>germandbls</string>
		<string>longs</string>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcommaaccent</string>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>f_f</string>
		<string>f_f_i</string>
		<string>f_f_l</string>
		<string>fi</string>
		<string>fl</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>afii10017</string>
		<string>afii10018</string>
		<string>afii10019</string>
		<string>afii10020</string>
		<string>afii10052</string>
		<string>afii10050</string>
		<string>afii10021</string>
		<string>afii10022</string>
		<string>uni0400</string>
		<string>afii10023</string>
		<string>afii10024</string>
		<string>afii10025</string>
		<string>afii10026</string>
		<string>afii10027</string>
		<string>uni040D</string>
		<string>afii10028</string>
		<string>afii10061</string>
		<string>afii10029</string>
		<string>afii10030</string>
		<string>afii10031</string>
		<string>afii10032</string>
		<string>afii10033</string>
		<string>afii10034</string>
		<string>afii10035</string>
		<string>afii10036</string>
		<string>afii10037</string>
		<string>afii10062</string>
		<string>afii10038</string>
		<string>afii10039</string>
		<string>afii10041</string>
		<string>afii10040</string>
		<string>afii10042</string>
		<string>afii10043</string>
		<string>afii10145</string>
		<string>afii10046</string>
		<string>afii10044</string>
		<string>afii10045</string>
		<string>afii10058</string>
		<string>afii10059</string>
		<string>afii10054</string>
		<string>afii10053</string>
		<string>afii10047</string>
		<string>afii10055</string>
		<string>afii10056</string>
		<string>afii10057</string>
		<string>afii10060</string>
		<string>afii10048</string>
		<string>afii10049</string>
		<string>afii10051</string>
		<string>afii10065</string>
		<string>afii10066</string>
		<string>afii10067</string>
		<string>afii10068</string>
		<string>afii10100</string>
		<string>afii10098</string>
		<string>afii10069</string>
		<string>afii10070</string>
		<string>uni0450</string>
		<string>afii10071</string>
		<string>afii10072</string>
		<string>afii10073</string>
		<string>afii10074</string>
		<string>afii10075</string>
		<string>uni045D</string>
		<string>afii10076</string>
		<string>afii10109</string>
		<string>afii10077</string>
		<string>afii10078</string>
		<string>afii10079</string>
		<string>afii10080</string>
		<string>afii10081</string>
		<string>afii10082</string>
		<string>afii10083</string>
		<string>afii10084</string>
		<string>afii10085</string>
		<string>afii10110</string>
		<string>afii10086</string>
		<string>afii10087</string>
		<string>afii10089</string>
		<string>afii10088</string>
		<string>afii10090</string>
		<string>afii10091</string>
		<string>afii10193</string>
		<string>afii10094</string>
		<string>afii10092</string>
		<string>afii10093</string>
		<string>afii10106</string>
		<string>afii10107</string>
		<string>afii10102</string>
		<string>afii10101</string>
		<string>afii10095</string>
		<string>afii10103</string>
		<string>afii10104</string>
		<string>afii10105</string>
		<string>afii10108</string>
		<string>afii10096</string>
		<string>afii10097</string>
		<string>afii10099</string>
		<string>yodyodhebrew</string>
		<string>alefhebrew</string>
		<string>bethebrew</string>
		<string>gimelhebrew</string>
		<string>dalethebrew</string>
		<string>hehebrew</string>
		<string>vavhebrew</string>
		<string>zayinhebrew</string>
		<string>hethebrew</string>
		<string>tethebrew</string>
		<string>yodhebrew</string>
		<string>finalkafhebrew</string>
		<string>kafhebrew</string>
		<string>lamedhebrew</string>
		<string>finalmemhebrew</string>
		<string>memhebrew</string>
		<string>finalnunhebrew</string>
		<string>nunhebrew</string>
		<string>samekhhebrew</string>
		<string>ayinhebrew</string>
		<string>finalpehebrew</string>
		<string>pehebrew</string>
		<string>finaltsadihebrew</string>
		<string>tsadihebrew</string>
		<string>qofhebrew</string>
		<string>reshhebrew</string>
		<string>shinhebrew</string>
		<string>tavhebrew</string>
		<string>shinshindothebrew</string>
		<string>shinsindothebrew</string>
		<string>shindageshshindothebrew</string>
		<string>shindageshsindothebrew</string>
		<string>alefpatahhebrew</string>
		<string>alefqamatshebrew</string>
		<string>alefdageshhebrew</string>
		<string>betdageshhebrew</string>
		<string>gimeldageshhebrew</string>
		<string>daletdageshhebrew</string>
		<string>hedageshhebrew</string>
		<string>vavdageshhebrew</string>
		<string>zayindageshhebrew</string>
		<string>tetdageshhebrew</string>
		<string>yoddageshhebrew</string>
		<string>finalkafdageshhebrew</string>
		<string>kafdageshhebrew</string>
		<string>lameddageshhebrew</string>
		<string>memdageshhebrew</string>
		<string>nundageshhebrew</string>
		<string>samekhdageshhebrew</string>
		<string>finalpedageshhebrew</string>
		<string>pedageshhebrew</string>
		<string>tsadidageshhebrew</string>
		<string>qofdageshhebrew</string>
		<string>reshdageshhebrew</string>
		<string>shindageshhebrew</string>
		<string>tavdageshhebrew</string>
		<string>vavholamhebrew</string>
		<string>finalpedageshhebrew.001</string>
		<string>pedageshhebrew.001</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>zero.denominator</string>
		<string>one.denominator</string>
		<string>two.denominator</string>
		<string>three.denominator</string>
		<string>four.denominator</string>
		<string>five.denominator</string>
		<string>six.denominator</string>
		<string>seven.denominator</string>
		<string>eight.denominator</string>
		<string>nine.denominator</string>
		<string>zero.numerator</string>
		<string>one.numerator</string>
		<string>two.numerator</string>
		<string>three.numerator</string>
		<string>four.numerator</string>
		<string>five.numerator</string>
		<string>six.numerator</string>
		<string>seven.numerator</string>
		<string>eight.numerator</string>
		<string>nine.numerator</string>
		<string>zero.otlf</string>
		<string>one.otlf</string>
		<string>two.otlf</string>
		<string>three.otlf</string>
		<string>four.otlf</string>
		<string>five.otlf</string>
		<string>six.otlf</string>
		<string>seven.otlf</string>
		<string>eight.otlf</string>
		<string>nine.otlf</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onethird</string>
		<string>twothirds</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>oneeighth</string>
		<string>threeeighths</string>
		<string>fiveeighths</string>
		<string>seveneighths</string>
		<string>zeroinferior</string>
		<string>oneinferior</string>
		<string>twoinferior</string>
		<string>threeinferior</string>
		<string>fourinferior</string>
		<string>fiveinferior</string>
		<string>sixinferior</string>
		<string>seveninferior</string>
		<string>eightinferior</string>
		<string>nineinferior</string>
		<string>zerosuperior</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>foursuperior</string>
		<string>fivesuperior</string>
		<string>sixsuperior</string>
		<string>sevensuperior</string>
		<string>eightsuperior</string>
		<string>ninesuperior</string>
		<string>asterisk</string>
		<string>backslash</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>numbersign</string>
		<string>period</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>underscore</string>
		<string>parenleftinferior</string>
		<string>parenrightinferior</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>parenleftsuperior</string>
		<string>parenrightsuperior</string>
		<string>braceleft.cap</string>
		<string>braceright.cap</string>
		<string>bracketleft.cap</string>
		<string>bracketright.cap</string>
		<string>parenleft.cap</string>
		<string>parenright.cap</string>
		<string>parenleft.denominator</string>
		<string>parenright.denominator</string>
		<string>parenleft.numerator</string>
		<string>parenright.numerator</string>
		<string>parenleft.otlf</string>
		<string>parenright.otlf</string>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>emdash.cap</string>
		<string>endash.cap</string>
		<string>hyphen.cap</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>guillemotleft.cap</string>
		<string>guillemotright.cap</string>
		<string>guilsinglleft.cap</string>
		<string>guilsinglright.cap</string>
		<string>gereshhebrew</string>
		<string>gershayimhebrew</string>
		<string>maqafhebrew</string>
		<string>space</string>
		<string>CR</string>
		<string>.notdef</string>
		<string>.null</string>
		<string>Euro</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>florin</string>
		<string>ruble</string>
		<string>sheqel</string>
		<string>sterling</string>
		<string>yen</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>divide</string>
		<string>equal</string>
		<string>greater</string>
		<string>greaterequal</string>
		<string>infinity</string>
		<string>integral</string>
		<string>less</string>
		<string>lessequal</string>
		<string>logicalnot</string>
		<string>minus</string>
		<string>mu</string>
		<string>multiply</string>
		<string>notequal</string>
		<string>partialdiff</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>plus</string>
		<string>plusminus</string>
		<string>product</string>
		<string>radical</string>
		<string>summation</string>
		<string>uni2206</string>
		<string>approxequal.cap</string>
		<string>asciitilde.cap</string>
		<string>divide.cap</string>
		<string>equal.cap</string>
		<string>minus.cap</string>
		<string>multiply.cap</string>
		<string>notequal.cap</string>
		<string>plus.cap</string>
		<string>lozenge</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>copyright</string>
		<string>registered</string>
		<string>section</string>
		<string>trademark</string>
		<string>degree</string>
		<string>estimated</string>
		<string>afii61352</string>
		<string>asciicircum</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>at.cap</string>
		<string>commaaccent</string>
		<string>commaaccent.cap</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>shevahebrew</string>
		<string>hatafsegolhebrew</string>
		<string>hatafpatahhebrew</string>
		<string>hatafqamatshebrew</string>
		<string>hiriqhebrew</string>
		<string>tserehebrew</string>
		<string>segolhebrew</string>
		<string>patahhebrew</string>
		<string>holamhebrew</string>
		<string>holamhaserhebrew</string>
		<string>qubutshebrew</string>
		<string>dageshhebrew</string>
		<string>shindothebrew</string>
		<string>sindothebrew</string>
		<string>qamatsqatanhebrew</string>
		<string>Breve</string>
		<string>Cedilla</string>
		<string>Circumflex</string>
		<string>Dotaccent</string>
		<string>Ogonek</string>
		<string>Ring</string>
		<string>Tilde</string>
		<string>Acute</string>
		<string>Caron</string>
		<string>Dieresis</string>
		<string>Grave</string>
		<string>Hungarumlaut</string>
		<string>Macron</string>
	</array>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weight</key>
	<string>Bold</string>
	<key>com.typemytype.robofont.guides</key>
	<array>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>2431</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>818</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>350</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>-5</integer>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>AEacute</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Eng</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcommaaccent</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>f</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>j</string>
		<string>dotlessj</string>
		<string>jcircumflex</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>napostrophe</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>eng</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
		<string>germandbls</string>
		<string>longs</string>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcommaaccent</string>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>f_f</string>
		<string>f_f_i</string>
		<string>f_f_l</string>
		<string>fi</string>
		<string>fl</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>afii10017</string>
		<string>afii10018</string>
		<string>afii10019</string>
		<string>afii10020</string>
		<string>afii10052</string>
		<string>afii10050</string>
		<string>afii10021</string>
		<string>afii10022</string>
		<string>uni0400</string>
		<string>afii10023</string>
		<string>afii10024</string>
		<string>afii10025</string>
		<string>afii10026</string>
		<string>afii10027</string>
		<string>uni040D</string>
		<string>afii10028</string>
		<string>afii10061</string>
		<string>afii10029</string>
		<string>afii10030</string>
		<string>afii10031</string>
		<string>afii10032</string>
		<string>afii10033</string>
		<string>afii10034</string>
		<string>afii10035</string>
		<string>afii10036</string>
		<string>afii10037</string>
		<string>afii10062</string>
		<string>afii10038</string>
		<string>afii10039</string>
		<string>afii10041</string>
		<string>afii10040</string>
		<string>afii10042</string>
		<string>afii10043</string>
		<string>afii10145</string>
		<string>afii10046</string>
		<string>afii10044</string>
		<string>afii10045</string>
		<string>afii10058</string>
		<string>afii10059</string>
		<string>afii10054</string>
		<string>afii10053</string>
		<string>afii10047</string>
		<string>afii10055</string>
		<string>afii10056</string>
		<string>afii10057</string>
		<string>afii10060</string>
		<string>afii10048</string>
		<string>afii10049</string>
		<string>afii10051</string>
		<string>afii10065</string>
		<string>afii10066</string>
		<string>afii10067</string>
		<string>afii10068</string>
		<string>afii10100</string>
		<string>afii10098</string>
		<string>afii10069</string>
		<string>afii10070</string>
		<string>uni0450</string>
		<string>afii10071</string>
		<string>afii10072</string>
		<string>afii10073</string>
		<string>afii10074</string>
		<string>afii10075</string>
		<string>uni045D</string>
		<string>afii10076</string>
		<string>afii10109</string>
		<string>afii10077</string>
		<string>afii10078</string>
		<string>afii10079</string>
		<string>afii10080</string>
		<string>afii10081</string>
		<string>afii10082</string>
		<string>afii10083</string>
		<string>afii10084</string>
		<string>afii10085</string>
		<string>afii10110</string>
		<string>afii10086</string>
		<string>afii10087</string>
		<string>afii10089</string>
		<string>afii10088</string>
		<string>afii10090</string>
		<string>afii10091</string>
		<string>afii10193</string>
		<string>afii10094</string>
		<string>afii10092</string>
		<string>afii10093</string>
		<string>afii10106</string>
		<string>afii10107</string>
		<string>afii10102</string>
		<string>afii10101</string>
		<string>afii10095</string>
		<string>afii10103</string>
		<string>afii10104</string>
		<string>afii10105</string>
		<string>afii10108</string>
		<string>afii10096</string>
		<string>afii10097</string>
		<string>afii10099</string>
		<string>yodyodhebrew</string>
		<string>alefhebrew</string>
		<string>bethebrew</string>
		<string>gimelhebrew</string>
		<string>dalethebrew</string>
		<string>hehebrew</string>
		<string>vavhebrew</string>
		<string>zayinhebrew</string>
		<string>hethebrew</string>
		<string>tethebrew</string>
		<string>yodhebrew</string>
		<string>finalkafhebrew</string>
		<string>kafhebrew</string>
		<string>lamedhebrew</string>
		<string>finalmemhebrew</string>
		<string>memhebrew</string>
		<string>finalnunhebrew</string>
		<string>nunhebrew</string>
		<string>samekhhebrew</string>
		<string>ayinhebrew</string>
		<string>finalpehebrew</string>
		<string>pehebrew</string>
		<string>finaltsadihebrew</string>
		<string>tsadihebrew</string>
		<string>qofhebrew</string>
		<string>reshhebrew</string>
		<string>shinhebrew</string>
		<string>tavhebrew</string>
		<string>shinshindothebrew</string>
		<string>shinsindothebrew</string>
		<string>shindageshshindothebrew</string>
		<string>shindageshsindothebrew</string>
		<string>alefpatahhebrew</string>
		<string>alefqamatshebrew</string>
		<string>alefdageshhebrew</string>
		<string>betdageshhebrew</string>
		<string>gimeldageshhebrew</string>
		<string>daletdageshhebrew</string>
		<string>hedageshhebrew</string>
		<string>vavdageshhebrew</string>
		<string>zayindageshhebrew</string>
		<string>tetdageshhebrew</string>
		<string>yoddageshhebrew</string>
		<string>finalkafdageshhebrew</string>
		<string>kafdageshhebrew</string>
		<string>lameddageshhebrew</string>
		<string>memdageshhebrew</string>
		<string>nundageshhebrew</string>
		<string>samekhdageshhebrew</string>
		<string>finalpedageshhebrew</string>
		<string>pedageshhebrew</string>
		<string>tsadidageshhebrew</string>
		<string>qofdageshhebrew</string>
		<string>reshdageshhebrew</string>
		<string>shindageshhebrew</string>
		<string>tavdageshhebrew</string>
		<string>vavholamhebrew</string>
		<string>finalpedageshhebrew.001</string>
		<string>pedageshhebrew.001</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>zero.denominator</string>
		<string>one.denominator</string>
		<string>two.denominator</string>
		<string>three.denominator</string>
		<string>four.denominator</string>
		<string>five.denominator</string>
		<string>six.denominator</string>
		<string>seven.denominator</string>
		<string>eight.denominator</string>
		<string>nine.denominator</string>
		<string>zero.numerator</string>
		<string>one.numerator</string>
		<string>two.numerator</string>
		<string>three.numerator</string>
		<string>four.numerator</string>
		<string>five.numerator</string>
		<string>six.numerator</string>
		<string>seven.numerator</string>
		<string>eight.numerator</string>
		<string>nine.numerator</string>
		<string>zero.otlf</string>
		<string>one.otlf</string>
		<string>two.otlf</string>
		<string>three.otlf</string>
		<string>four.otlf</string>
		<string>five.otlf</string>
		<string>six.otlf</string>
		<string>seven.otlf</string>
		<string>eight.otlf</string>
		<string>nine.otlf</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onethird</string>
		<string>twothirds</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>oneeighth</string>
		<string>threeeighths</string>
		<string>fiveeighths</string>
		<string>seveneighths</string>
		<string>zeroinferior</string>
		<string>oneinferior</string>
		<string>twoinferior</string>
		<string>threeinferior</string>
		<string>fourinferior</string>
		<string>fiveinferior</string>
		<string>sixinferior</string>
		<string>seveninferior</string>
		<string>eightinferior</string>
		<string>nineinferior</string>
		<string>zerosuperior</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>foursuperior</string>
		<string>fivesuperior</string>
		<string>sixsuperior</string>
		<string>sevensuperior</string>
		<string>eightsuperior</string>
		<string>ninesuperior</string>
		<string>asterisk</string>
		<string>backslash</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>numbersign</string>
		<string>period</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>underscore</string>
		<string>parenleftinferior</string>
		<string>parenrightinferior</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>parenleftsuperior</string>
		<string>parenrightsuperior</string>
		<string>braceleft.cap</string>
		<string>braceright.cap</string>
		<string>bracketleft.cap</string>
		<string>bracketright.cap</string>
		<string>parenleft.cap</string>
		<string>parenright.cap</string>
		<string>parenleft.denominator</string>
		<string>parenright.denominator</string>
		<string>parenleft.numerator</string>
		<string>parenright.numerator</string>
		<string>parenleft.otlf</string>
		<string>parenright.otlf</string>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>emdash.cap</string>
		<string>endash.cap</string>
		<string>hyphen.cap</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>guillemotleft.cap</string>
		<string>guillemotright.cap</string>
		<string>guilsinglleft.cap</string>
		<string>guilsinglright.cap</string>
		<string>gereshhebrew</string>
		<string>gershayimhebrew</string>
		<string>maqafhebrew</string>
		<string>space</string>
		<string>CR</string>
		<string>.notdef</string>
		<string>.null</string>
		<string>Euro</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>florin</string>
		<string>ruble</string>
		<string>sheqel</string>
		<string>sterling</string>
		<string>yen</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>divide</string>
		<string>equal</string>
		<string>greater</string>
		<string>greaterequal</string>
		<string>infinity</string>
		<string>integral</string>
		<string>less</string>
		<string>lessequal</string>
		<string>logicalnot</string>
		<string>minus</string>
		<string>mu</string>
		<string>multiply</string>
		<string>notequal</string>
		<string>partialdiff</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>plus</string>
		<string>plusminus</string>
		<string>product</string>
		<string>radical</string>
		<string>summation</string>
		<string>uni2206</string>
		<string>approxequal.cap</string>
		<string>asciitilde.cap</string>
		<string>divide.cap</string>
		<string>equal.cap</string>
		<string>minus.cap</string>
		<string>multiply.cap</string>
		<string>notequal.cap</string>
		<string>plus.cap</string>
		<string>lozenge</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>copyright</string>
		<string>registered</string>
		<string>section</string>
		<string>trademark</string>
		<string>degree</string>
		<string>estimated</string>
		<string>afii61352</string>
		<string>asciicircum</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>at.cap</string>
		<string>commaaccent</string>
		<string>commaaccent.cap</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>shevahebrew</string>
		<string>hatafsegolhebrew</string>
		<string>hatafpatahhebrew</string>
		<string>hatafqamatshebrew</string>
		<string>hiriqhebrew</string>
		<string>tserehebrew</string>
		<string>segolhebrew</string>
		<string>patahhebrew</string>
		<string>holamhebrew</string>
		<string>holamhaserhebrew</string>
		<string>qubutshebrew</string>
		<string>dageshhebrew</string>
		<string>shindothebrew</string>
		<string>sindothebrew</string>
		<string>Breve</string>
		<string>Cedilla</string>
		<string>Circumflex</string>
		<string>Dotaccent</string>
		<string>Ogonek</string>
		<string>Ring</string>
		<string>Tilde</string>
		<string>Acute</string>
		<string>Caron</string>
		<string>Dieresis</string>
		<string>Grave</string>
		<string>Hungarumlaut</string>
		<string>Macron</string>
		<string>qamatshebrew</string>
	</array>
</dict>
</plist>
