<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>A-cy</key>
    <string>A_-cy.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>AEacute</key>
    <string>A_E_acute.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Abreve</key>
    <string>A_breve.glif</string>
    <key>Abreve-cy</key>
    <string>A_breve-cy.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>Adieresis-cy</key>
    <string>A_dieresis-cy.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Aie-cy</key>
    <string>A_ie-cy.glif</string>
    <key>Amacron</key>
    <string>A_macron.glif</string>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>Be-cy</key>
    <string>B_e-cy.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>Cacute</key>
    <string>C_acute.glif</string>
    <key>Ccaron</key>
    <string>C_caron.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>Ccircumflex</key>
    <string>C_circumflex.glif</string>
    <key>Cdotaccent</key>
    <string>C_dotaccent.glif</string>
    <key>Che-cy</key>
    <string>C_he-cy.glif</string>
    <key>Chedescender-cy</key>
    <string>C_hedescender-cy.glif</string>
    <key>Chedieresis-cy</key>
    <string>C_hedieresis-cy.glif</string>
    <key>Chekhakassian-cy</key>
    <string>C_hekhakassian-cy.glif</string>
    <key>Cheverticalstroke-cy</key>
    <string>C_heverticalstroke-cy.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>Dcaron</key>
    <string>D_caron.glif</string>
    <key>Dcroat</key>
    <string>D_croat.glif</string>
    <key>De-cy</key>
    <string>D_e-cy.glif</string>
    <key>Dje-cy</key>
    <string>D_je-cy.glif</string>
    <key>Dze-cy</key>
    <string>D_ze-cy.glif</string>
    <key>Dzhe-cy</key>
    <string>D_zhe-cy.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E-cy</key>
    <string>E_-cy.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Ebreve</key>
    <string>E_breve.glif</string>
    <key>Ecaron</key>
    <string>E_caron.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Edotaccent</key>
    <string>E_dotaccent.glif</string>
    <key>Ef-cy</key>
    <string>E_f-cy.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>El-cy</key>
    <string>E_l-cy.glif</string>
    <key>Em-cy</key>
    <string>E_m-cy.glif</string>
    <key>Emacron</key>
    <string>E_macron.glif</string>
    <key>En-cy</key>
    <string>E_n-cy.glif</string>
    <key>Endescender-cy</key>
    <string>E_ndescender-cy.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Enghe-cy</key>
    <string>E_nghe-cy.glif</string>
    <key>Eogonek</key>
    <string>E_ogonek.glif</string>
    <key>Er-cy</key>
    <string>E_r-cy.glif</string>
    <key>Ereversed-cy</key>
    <string>E_reversed-cy.glif</string>
    <key>Es-cy</key>
    <string>E_s-cy.glif</string>
    <key>Esdescender-cy</key>
    <string>E_sdescender-cy.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>Fita-cy</key>
    <string>F_ita-cy.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Gbreve</key>
    <string>G_breve.glif</string>
    <key>Gcircumflex</key>
    <string>G_circumflex.glif</string>
    <key>Gcommaaccent</key>
    <string>G_commaaccent.glif</string>
    <key>Gdotaccent</key>
    <string>G_dotaccent.glif</string>
    <key>Ge-cy</key>
    <string>G_e-cy.glif</string>
    <key>Gedescender-cy</key>
    <string>G_edescender-cy.glif</string>
    <key>Ghemiddlehook-cy</key>
    <string>G_hemiddlehook-cy.glif</string>
    <key>Ghestroke-cy</key>
    <string>G_hestroke-cy.glif</string>
    <key>Gheupturn-cy</key>
    <string>G_heupturn-cy.glif</string>
    <key>Gje-cy</key>
    <string>G_je-cy.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>Ha-cy</key>
    <string>H_a-cy.glif</string>
    <key>Hardsign-cy</key>
    <string>H_ardsign-cy.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>Hcircumflex</key>
    <string>H_circumflex.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I-cy</key>
    <string>I_-cy.glif</string>
    <key>IJ</key>
    <string>I_J_.glif</string>
    <key>Ia-cy</key>
    <string>I_a-cy.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Ibreve</key>
    <string>I_breve.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>Idieresis-cy</key>
    <string>I_dieresis-cy.glif</string>
    <key>Idotaccent</key>
    <string>I_dotaccent.glif</string>
    <key>Ie-cy</key>
    <string>I_e-cy.glif</string>
    <key>Iebreve-cy</key>
    <string>I_ebreve-cy.glif</string>
    <key>Iegrave-cy</key>
    <string>I_egrave-cy.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>Ii-cy</key>
    <string>I_i-cy.glif</string>
    <key>Iigrave-cy</key>
    <string>I_igrave-cy.glif</string>
    <key>Iishort-cy</key>
    <string>I_ishort-cy.glif</string>
    <key>Imacron</key>
    <string>I_macron.glif</string>
    <key>Imacron-cy</key>
    <string>I_macron-cy.glif</string>
    <key>Io-cy</key>
    <string>I_o-cy.glif</string>
    <key>Iogonek</key>
    <string>I_ogonek.glif</string>
    <key>Itilde</key>
    <string>I_tilde.glif</string>
    <key>Iu-cy</key>
    <string>I_u-cy.glif</string>
    <key>Izhitsa-cy</key>
    <string>I_zhitsa-cy.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>Jcircumflex</key>
    <string>J_circumflex.glif</string>
    <key>Je-cy</key>
    <string>J_e-cy.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>Ka-cy</key>
    <string>K_a-cy.glif</string>
    <key>Kabashkir-cy</key>
    <string>K_abashkir-cy.glif</string>
    <key>Kadescender-cy</key>
    <string>K_adescender-cy.glif</string>
    <key>Kaverticalstroke-cy</key>
    <string>K_averticalstroke-cy.glif</string>
    <key>Kcommaaccent</key>
    <string>K_commaaccent.glif</string>
    <key>Kje-cy</key>
    <string>K_je-cy.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>Lacute</key>
    <string>L_acute.glif</string>
    <key>Lcaron</key>
    <string>L_caron.glif</string>
    <key>Lcommaaccent</key>
    <string>L_commaaccent.glif</string>
    <key>Ldot</key>
    <string>L_dot.glif</string>
    <key>Lje-cy</key>
    <string>L_je-cy.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>Nacute</key>
    <string>N_acute.glif</string>
    <key>Ncaron</key>
    <string>N_caron.glif</string>
    <key>Ncommaaccent</key>
    <string>N_commaaccent.glif</string>
    <key>Nje-cy</key>
    <string>N_je-cy.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O-cy</key>
    <string>O_-cy.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Obarred-cy</key>
    <string>O_barred-cy.glif</string>
    <key>Obreve</key>
    <string>O_breve.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>Odieresis-cy</key>
    <string>O_dieresis-cy.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Ohungarumlaut</key>
    <string>O_hungarumlaut.glif</string>
    <key>Omacron</key>
    <string>O_macron.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Oslashacute</key>
    <string>O_slashacute.glif</string>
    <key>Otilde</key>
    <string>O_tilde.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Palochka-cy</key>
    <string>P_alochka-cy.glif</string>
    <key>Pe-cy</key>
    <string>P_e-cy.glif</string>
    <key>Pedescender-cy</key>
    <string>P_edescender-cy.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>Qa-cy</key>
    <string>Q_a-cy.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>Racute</key>
    <string>R_acute.glif</string>
    <key>Rcaron</key>
    <string>R_caron.glif</string>
    <key>Rcommaaccent</key>
    <string>R_commaaccent.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Sacute</key>
    <string>S_acute.glif</string>
    <key>Scaron</key>
    <string>S_caron.glif</string>
    <key>Scedilla</key>
    <string>S_cedilla.glif</string>
    <key>Schwa-cy</key>
    <string>S_chwa-cy.glif</string>
    <key>Scircumflex</key>
    <string>S_circumflex.glif</string>
    <key>Scommaaccent</key>
    <string>S_commaaccent.glif</string>
    <key>Sha-cy</key>
    <string>S_ha-cy.glif</string>
    <key>Shcha-cy</key>
    <string>S_hcha-cy.glif</string>
    <key>Shha-cy</key>
    <string>S_hha-cy.glif</string>
    <key>Softsign-cy</key>
    <string>S_oftsign-cy.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>Tbar</key>
    <string>T_bar.glif</string>
    <key>Tcaron</key>
    <string>T_caron.glif</string>
    <key>Tcommaaccent</key>
    <string>T_commaaccent.glif</string>
    <key>Te-cy</key>
    <string>T_e-cy.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>Tse-cy</key>
    <string>T_se-cy.glif</string>
    <key>Tshe-cy</key>
    <string>T_she-cy.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U-cy</key>
    <string>U_-cy.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Ubreve</key>
    <string>U_breve.glif</string>
    <key>Ucircumflex</key>
    <string>U_circumflex.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>Udieresis-cy</key>
    <string>U_dieresis-cy.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>Uhungarumlaut</key>
    <string>U_hungarumlaut.glif</string>
    <key>Uhungarumlaut-cy</key>
    <string>U_hungarumlaut-cy.glif</string>
    <key>Umacron</key>
    <string>U_macron.glif</string>
    <key>Umacron-cy</key>
    <string>U_macron-cy.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>Uring</key>
    <string>U_ring.glif</string>
    <key>Ushort-cy</key>
    <string>U_short-cy.glif</string>
    <key>Ustrait-cy</key>
    <string>U_strait-cy.glif</string>
    <key>Ustraitstroke-cy</key>
    <string>U_straitstroke-cy.glif</string>
    <key>Utilde</key>
    <string>U_tilde.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>Ve-cy</key>
    <string>V_e-cy.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>Wacute</key>
    <string>W_acute.glif</string>
    <key>Wcircumflex</key>
    <string>W_circumflex.glif</string>
    <key>Wdieresis</key>
    <string>W_dieresis.glif</string>
    <key>We-cy</key>
    <string>W_e-cy.glif</string>
    <key>Wgrave</key>
    <string>W_grave.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Yacute</key>
    <string>Y_acute.glif</string>
    <key>Yat-cy</key>
    <string>Y_at-cy.glif</string>
    <key>Ycircumflex</key>
    <string>Y_circumflex.glif</string>
    <key>Ydieresis</key>
    <string>Y_dieresis.glif</string>
    <key>Yeru-cy</key>
    <string>Y_eru-cy.glif</string>
    <key>Yerudieresis-cy</key>
    <string>Y_erudieresis-cy.glif</string>
    <key>Ygrave</key>
    <string>Y_grave.glif</string>
    <key>Yi-cy</key>
    <string>Y_i-cy.glif</string>
    <key>Yusbig-cy</key>
    <string>Y_usbig-cy.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Zacute</key>
    <string>Z_acute.glif</string>
    <key>Zcaron</key>
    <string>Z_caron.glif</string>
    <key>Zdotaccent</key>
    <string>Z_dotaccent.glif</string>
    <key>Ze-cy</key>
    <string>Z_e-cy.glif</string>
    <key>Zedescender-cy</key>
    <string>Z_edescender-cy.glif</string>
    <key>Zedieresis-cy</key>
    <string>Z_edieresis-cy.glif</string>
    <key>Zhe-cy</key>
    <string>Z_he-cy.glif</string>
    <key>Zhebreve-cy</key>
    <string>Z_hebreve-cy.glif</string>
    <key>Zhedescender-cy</key>
    <string>Z_hedescender-cy.glif</string>
    <key>Zhedieresis-cy</key>
    <string>Z_hedieresis-cy.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a-cy</key>
    <string>a-cy.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>abreve</key>
    <string>abreve.glif</string>
    <key>abreve-cy</key>
    <string>abreve-cy.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>acutecomb.case</key>
    <string>acutecomb.case.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif</string>
    <key>adieresis-cy</key>
    <string>adieresis-cy.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>aeacute</key>
    <string>aeacute.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>aie-cy</key>
    <string>aie-cy.glif</string>
    <key>alef-hb</key>
    <string>alef-hb.glif</string>
    <key>alefdagesh-hb</key>
    <string>alefdagesh-hb.glif</string>
    <key>alefpatah-hb</key>
    <string>alefpatah-hb.glif</string>
    <key>alefqamats-hb</key>
    <string>alefqamats-hb.glif</string>
    <key>amacron</key>
    <string>amacron.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>aogonek</key>
    <string>aogonek.glif</string>
    <key>apostrophemod</key>
    <string>apostrophemod.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>approxequal.case</key>
    <string>approxequal.case.glif</string>
    <key>aring</key>
    <string>aring.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asciitilde.case</key>
    <string>asciitilde.case.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>at.case</key>
    <string>at.case.glif</string>
    <key>atilde</key>
    <string>atilde.glif</string>
    <key>ayin-hb</key>
    <string>ayin-hb.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>be-cy</key>
    <string>be-cy.glif</string>
    <key>bet-hb</key>
    <string>bet-hb.glif</string>
    <key>betdagesh-hb</key>
    <string>betdagesh-hb.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceleft.case</key>
    <string>braceleft.case.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>braceright.case</key>
    <string>braceright.case.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketleft.case</key>
    <string>bracketleft.case.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>bracketright.case</key>
    <string>bracketright.case.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>brevecomb</key>
    <string>brevecomb.glif</string>
    <key>brevecomb-cy</key>
    <string>brevecomb-cy.glif</string>
    <key>brevecomb-cy.case</key>
    <string>brevecomb-cy.case.glif</string>
    <key>brevecomb.case</key>
    <string>brevecomb.case.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>cacute</key>
    <string>cacute.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>caroncomb</key>
    <string>caroncomb.glif</string>
    <key>caroncomb.case</key>
    <string>caroncomb.case.glif</string>
    <key>ccaron</key>
    <string>ccaron.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>ccircumflex</key>
    <string>ccircumflex.glif</string>
    <key>cdotaccent</key>
    <string>cdotaccent.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>cedillacomb</key>
    <string>cedillacomb.glif</string>
    <key>cedillacomb.case</key>
    <string>cedillacomb.case.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>che-cy</key>
    <string>che-cy.glif</string>
    <key>chedescender-cy</key>
    <string>chedescender-cy.glif</string>
    <key>chedieresis-cy</key>
    <string>chedieresis-cy.glif</string>
    <key>chekhakassian-cy</key>
    <string>chekhakassian-cy.glif</string>
    <key>cheverticalstroke-cy</key>
    <string>cheverticalstroke-cy.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>circumflexcomb.case</key>
    <string>circumflexcomb.case.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>commaaccentcomb</key>
    <string>commaaccentcomb.glif</string>
    <key>commaaccentcomb.case</key>
    <string>commaaccentcomb.case.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dagesh-hb</key>
    <string>dagesh-hb.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>dalet-hb</key>
    <string>dalet-hb.glif</string>
    <key>daletdagesh-hb</key>
    <string>daletdagesh-hb.glif</string>
    <key>dcaron</key>
    <string>dcaron.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>de-cy</key>
    <string>de-cy.glif</string>
    <key>de-cy.ss01</key>
    <string>de-cy.ss01.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>descender-cy</key>
    <string>descender-cy.glif</string>
    <key>descender-cy.case</key>
    <string>descender-cy.case.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>dieresiscomb</key>
    <string>dieresiscomb.glif</string>
    <key>dieresiscomb.case</key>
    <string>dieresiscomb.case.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>divide.case</key>
    <string>divide.case.glif</string>
    <key>divisionslash</key>
    <string>divisionslash.glif</string>
    <key>dje-cy</key>
    <string>dje-cy.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dotaccent</key>
    <string>dotaccent.glif</string>
    <key>dotaccentcomb</key>
    <string>dotaccentcomb.glif</string>
    <key>dotaccentcomb.case</key>
    <string>dotaccentcomb.case.glif</string>
    <key>dze-cy</key>
    <string>dze-cy.glif</string>
    <key>dzhe-cy</key>
    <string>dzhe-cy.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e-cy</key>
    <string>e-cy.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>ebreve</key>
    <string>ebreve.glif</string>
    <key>ecaron</key>
    <string>ecaron.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>edotaccent</key>
    <string>edotaccent.glif</string>
    <key>ef-cy</key>
    <string>ef-cy.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.denominator</key>
    <string>eight.denominator.glif</string>
    <key>eight.numerator</key>
    <string>eight.numerator.glif</string>
    <key>eight.otlf</key>
    <string>eight.otlf.glif</string>
    <key>eightinferior</key>
    <string>eightinferior.glif</string>
    <key>eightsuperior</key>
    <string>eightsuperior.glif</string>
    <key>el-cy</key>
    <string>el-cy.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>em-cy</key>
    <string>em-cy.glif</string>
    <key>emacron</key>
    <string>emacron.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>emdash.case</key>
    <string>emdash.case.glif</string>
    <key>en-cy</key>
    <string>en-cy.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>endash.case</key>
    <string>endash.case.glif</string>
    <key>endescender-cy</key>
    <string>endescender-cy.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>enghe-cy</key>
    <string>enghe-cy.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>equal.case</key>
    <string>equal.case.glif</string>
    <key>er-cy</key>
    <string>er-cy.glif</string>
    <key>ereversed-cy</key>
    <string>ereversed-cy.glif</string>
    <key>es-cy</key>
    <string>es-cy.glif</string>
    <key>esdescender-cy</key>
    <string>esdescender-cy.glif</string>
    <key>estimated</key>
    <string>estimated.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>euro</key>
    <string>euro.glif</string>
    <key>euro.BRACKET.125</key>
    <string>euro.B_R_A_C_K_E_T_.125.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>fi</key>
    <string>fi.glif</string>
    <key>finalkaf-hb</key>
    <string>finalkaf-hb.glif</string>
    <key>finalkafdagesh-hb</key>
    <string>finalkafdagesh-hb.glif</string>
    <key>finalmem-hb</key>
    <string>finalmem-hb.glif</string>
    <key>finalnun-hb</key>
    <string>finalnun-hb.glif</string>
    <key>finalpe-hb</key>
    <string>finalpe-hb.glif</string>
    <key>finalpedagesh-hb</key>
    <string>finalpedagesh-hb.glif</string>
    <key>finalpedagesh-hb.black</key>
    <string>finalpedagesh-hb.black.glif</string>
    <key>finaltsadi-hb</key>
    <string>finaltsadi-hb.glif</string>
    <key>fita-cy</key>
    <string>fita-cy.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.denominator</key>
    <string>five.denominator.glif</string>
    <key>five.numerator</key>
    <string>five.numerator.glif</string>
    <key>five.otlf</key>
    <string>five.otlf.glif</string>
    <key>fiveeighths</key>
    <string>fiveeighths.glif</string>
    <key>fiveinferior</key>
    <string>fiveinferior.glif</string>
    <key>fivesuperior</key>
    <string>fivesuperior.glif</string>
    <key>fl</key>
    <string>fl.glif</string>
    <key>florin</key>
    <string>florin.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.denominator</key>
    <string>four.denominator.glif</string>
    <key>four.numerator</key>
    <string>four.numerator.glif</string>
    <key>four.otlf</key>
    <string>four.otlf.glif</string>
    <key>fourinferior</key>
    <string>fourinferior.glif</string>
    <key>foursuperior</key>
    <string>foursuperior.glif</string>
    <key>fraction</key>
    <string>fraction.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>gbreve</key>
    <string>gbreve.glif</string>
    <key>gcircumflex</key>
    <string>gcircumflex.glif</string>
    <key>gcommaaccent</key>
    <string>gcommaaccent.glif</string>
    <key>gdotaccent</key>
    <string>gdotaccent.glif</string>
    <key>ge-cy</key>
    <string>ge-cy.glif</string>
    <key>gedescender-cy</key>
    <string>gedescender-cy.glif</string>
    <key>geresh-hb</key>
    <string>geresh-hb.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>gershayim-hb</key>
    <string>gershayim-hb.glif</string>
    <key>ghemiddlehook-cy</key>
    <string>ghemiddlehook-cy.glif</string>
    <key>ghestroke-cy</key>
    <string>ghestroke-cy.glif</string>
    <key>gheupturn-cy</key>
    <string>gheupturn-cy.glif</string>
    <key>gimel-hb</key>
    <string>gimel-hb.glif</string>
    <key>gimeldagesh-hb</key>
    <string>gimeldagesh-hb.glif</string>
    <key>gje-cy</key>
    <string>gje-cy.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>gravecomb.case</key>
    <string>gravecomb.case.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>guillemetleft</key>
    <string>guillemetleft.glif</string>
    <key>guillemetleft.case</key>
    <string>guillemetleft.case.glif</string>
    <key>guillemetright</key>
    <string>guillemetright.glif</string>
    <key>guillemetright.case</key>
    <string>guillemetright.case.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglleft.case</key>
    <string>guilsinglleft.case.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>guilsinglright.case</key>
    <string>guilsinglright.case.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>ha-cy</key>
    <string>ha-cy.glif</string>
    <key>hardsign-cy</key>
    <string>hardsign-cy.glif</string>
    <key>hatafpatah-hb</key>
    <string>hatafpatah-hb.glif</string>
    <key>hatafqamats-hb</key>
    <string>hatafqamats-hb.glif</string>
    <key>hatafsegol-hb</key>
    <string>hatafsegol-hb.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>hcircumflex</key>
    <string>hcircumflex.glif</string>
    <key>he-hb</key>
    <string>he-hb.glif</string>
    <key>hedagesh-hb</key>
    <string>hedagesh-hb.glif</string>
    <key>het-hb</key>
    <string>het-hb.glif</string>
    <key>hiriq-hb</key>
    <string>hiriq-hb.glif</string>
    <key>holam-hb</key>
    <string>holam-hb.glif</string>
    <key>holamhaser-hb</key>
    <string>holamhaser-hb.glif</string>
    <key>hryvnia</key>
    <string>hryvnia.glif</string>
    <key>hryvnia.BRACKET.125</key>
    <string>hryvnia.B_R_A_C_K_E_T_.125.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>hungarumlautcomb</key>
    <string>hungarumlautcomb.glif</string>
    <key>hungarumlautcomb.case</key>
    <string>hungarumlautcomb.case.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>hyphen.case</key>
    <string>hyphen.case.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>i-cy</key>
    <string>i-cy.glif</string>
    <key>ia-cy</key>
    <string>ia-cy.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>ibreve</key>
    <string>ibreve.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>idieresis-cy</key>
    <string>idieresis-cy.glif</string>
    <key>idotless</key>
    <string>idotless.glif</string>
    <key>ie-cy</key>
    <string>ie-cy.glif</string>
    <key>iebreve-cy</key>
    <string>iebreve-cy.glif</string>
    <key>iegrave-cy</key>
    <string>iegrave-cy.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>ii-cy</key>
    <string>ii-cy.glif</string>
    <key>iigrave-cy</key>
    <string>iigrave-cy.glif</string>
    <key>iishort-cy</key>
    <string>iishort-cy.glif</string>
    <key>ij</key>
    <string>ij.glif</string>
    <key>imacron</key>
    <string>imacron.glif</string>
    <key>imacron-cy</key>
    <string>imacron-cy.glif</string>
    <key>increment</key>
    <string>increment.glif</string>
    <key>infinity</key>
    <string>infinity.glif</string>
    <key>integral</key>
    <string>integral.glif</string>
    <key>io-cy</key>
    <string>io-cy.glif</string>
    <key>iogonek</key>
    <string>iogonek.glif</string>
    <key>itilde</key>
    <string>itilde.glif</string>
    <key>iu-cy</key>
    <string>iu-cy.glif</string>
    <key>izhitsa-cy</key>
    <string>izhitsa-cy.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>jcircumflex</key>
    <string>jcircumflex.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>je-cy</key>
    <string>je-cy.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>ka-cy</key>
    <string>ka-cy.glif</string>
    <key>kabashkir-cy</key>
    <string>kabashkir-cy.glif</string>
    <key>kadescender-cy</key>
    <string>kadescender-cy.glif</string>
    <key>kaf-hb</key>
    <string>kaf-hb.glif</string>
    <key>kafdagesh-hb</key>
    <string>kafdagesh-hb.glif</string>
    <key>kaverticalstroke-cy</key>
    <string>kaverticalstroke-cy.glif</string>
    <key>kcommaaccent</key>
    <string>kcommaaccent.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>kje-cy</key>
    <string>kje-cy.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>lacute</key>
    <string>lacute.glif</string>
    <key>lamed-hb</key>
    <string>lamed-hb.glif</string>
    <key>lameddagesh-hb</key>
    <string>lameddagesh-hb.glif</string>
    <key>lcaron</key>
    <string>lcaron.glif</string>
    <key>lcommaaccent</key>
    <string>lcommaaccent.glif</string>
    <key>ldot</key>
    <string>ldot.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>lessequal</key>
    <string>lessequal.glif</string>
    <key>lje-cy</key>
    <string>lje-cy.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>longs</key>
    <string>longs.glif</string>
    <key>lozenge</key>
    <string>lozenge.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>macroncomb</key>
    <string>macroncomb.glif</string>
    <key>macroncomb.case</key>
    <string>macroncomb.case.glif</string>
    <key>maqaf-hb</key>
    <string>maqaf-hb.glif</string>
    <key>mem-hb</key>
    <string>mem-hb.glif</string>
    <key>memdagesh-hb</key>
    <string>memdagesh-hb.glif</string>
    <key>micro</key>
    <string>micro.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>minus.case</key>
    <string>minus.case.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>multiply.case</key>
    <string>multiply.case.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nacute</key>
    <string>nacute.glif</string>
    <key>napostrophe</key>
    <string>napostrophe.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>ncaron</key>
    <string>ncaron.glif</string>
    <key>ncommaaccent</key>
    <string>ncommaaccent.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.denominator</key>
    <string>nine.denominator.glif</string>
    <key>nine.numerator</key>
    <string>nine.numerator.glif</string>
    <key>nine.otlf</key>
    <string>nine.otlf.glif</string>
    <key>nineinferior</key>
    <string>nineinferior.glif</string>
    <key>ninesuperior</key>
    <string>ninesuperior.glif</string>
    <key>nje-cy</key>
    <string>nje-cy.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>notequal.case</key>
    <string>notequal.case.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>numero</key>
    <string>numero.glif</string>
    <key>nun-hb</key>
    <string>nun-hb.glif</string>
    <key>nundagesh-hb</key>
    <string>nundagesh-hb.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o-cy</key>
    <string>o-cy.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>obarred-cy</key>
    <string>obarred-cy.glif</string>
    <key>obreve</key>
    <string>obreve.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif</string>
    <key>odieresis-cy</key>
    <string>odieresis-cy.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>ogonekcomb</key>
    <string>ogonekcomb.glif</string>
    <key>ogonekcomb.case</key>
    <string>ogonekcomb.case.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>ohungarumlaut</key>
    <string>ohungarumlaut.glif</string>
    <key>omacron</key>
    <string>omacron.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one.denominator</key>
    <string>one.denominator.glif</string>
    <key>one.numerator</key>
    <string>one.numerator.glif</string>
    <key>one.otlf</key>
    <string>one.otlf.glif</string>
    <key>oneeighth</key>
    <string>oneeighth.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif</string>
    <key>oneinferior</key>
    <string>oneinferior.glif</string>
    <key>onequarter</key>
    <string>onequarter.glif</string>
    <key>onesuperior</key>
    <string>onesuperior.glif</string>
    <key>onethird</key>
    <string>onethird.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>oslashacute</key>
    <string>oslashacute.glif</string>
    <key>otilde</key>
    <string>otilde.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>palochka-cy</key>
    <string>palochka-cy.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenleft.case</key>
    <string>parenleft.case.glif</string>
    <key>parenleft.denominator</key>
    <string>parenleft.denominator.glif</string>
    <key>parenleft.numerator</key>
    <string>parenleft.numerator.glif</string>
    <key>parenleft.otlf</key>
    <string>parenleft.otlf.glif</string>
    <key>parenleftinferior</key>
    <string>parenleftinferior.glif</string>
    <key>parenleftsuperior</key>
    <string>parenleftsuperior.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>parenright.case</key>
    <string>parenright.case.glif</string>
    <key>parenright.denominator</key>
    <string>parenright.denominator.glif</string>
    <key>parenright.numerator</key>
    <string>parenright.numerator.glif</string>
    <key>parenright.otlf</key>
    <string>parenright.otlf.glif</string>
    <key>parenrightinferior</key>
    <string>parenrightinferior.glif</string>
    <key>parenrightsuperior</key>
    <string>parenrightsuperior.glif</string>
    <key>partialdiff</key>
    <string>partialdiff.glif</string>
    <key>patah-hb</key>
    <string>patah-hb.glif</string>
    <key>pe-cy</key>
    <string>pe-cy.glif</string>
    <key>pe-hb</key>
    <string>pe-hb.glif</string>
    <key>pedagesh-hb</key>
    <string>pedagesh-hb.glif</string>
    <key>pedagesh-hb.black</key>
    <string>pedagesh-hb.black.glif</string>
    <key>pedescender-cy</key>
    <string>pedescender-cy.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>plus.case</key>
    <string>plus.case.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>product</key>
    <string>product.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>qa-cy</key>
    <string>qa-cy.glif</string>
    <key>qamatsqatan-hb</key>
    <string>qamatsqatan-hb.glif</string>
    <key>qof-hb</key>
    <string>qof-hb.glif</string>
    <key>qofdagesh-hb</key>
    <string>qofdagesh-hb.glif</string>
    <key>qubuts-hb</key>
    <string>qubuts-hb.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>racute</key>
    <string>racute.glif</string>
    <key>radical</key>
    <string>radical.glif</string>
    <key>rcaron</key>
    <string>rcaron.glif</string>
    <key>rcommaaccent</key>
    <string>rcommaaccent.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>resh-hb</key>
    <string>resh-hb.glif</string>
    <key>reshdagesh-hb</key>
    <string>reshdagesh-hb.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>ringcomb</key>
    <string>ringcomb.glif</string>
    <key>ringcomb.case</key>
    <string>ringcomb.case.glif</string>
    <key>ruble</key>
    <string>ruble.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>sacute</key>
    <string>sacute.glif</string>
    <key>samekh-hb</key>
    <string>samekh-hb.glif</string>
    <key>samekhdagesh-hb</key>
    <string>samekhdagesh-hb.glif</string>
    <key>scaron</key>
    <string>scaron.glif</string>
    <key>scedilla</key>
    <string>scedilla.glif</string>
    <key>schwa-cy</key>
    <string>schwa-cy.glif</string>
    <key>scircumflex</key>
    <string>scircumflex.glif</string>
    <key>scommaaccent</key>
    <string>scommaaccent.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>segol-hb</key>
    <string>segol-hb.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven.denominator</key>
    <string>seven.denominator.glif</string>
    <key>seven.numerator</key>
    <string>seven.numerator.glif</string>
    <key>seven.otlf</key>
    <string>seven.otlf.glif</string>
    <key>seveneighths</key>
    <string>seveneighths.glif</string>
    <key>seveninferior</key>
    <string>seveninferior.glif</string>
    <key>sevensuperior</key>
    <string>sevensuperior.glif</string>
    <key>sha-cy</key>
    <string>sha-cy.glif</string>
    <key>shcha-cy</key>
    <string>shcha-cy.glif</string>
    <key>sheqel</key>
    <string>sheqel.glif</string>
    <key>sheva-hb</key>
    <string>sheva-hb.glif</string>
    <key>shha-cy</key>
    <string>shha-cy.glif</string>
    <key>shin-hb</key>
    <string>shin-hb.glif</string>
    <key>shindagesh-hb</key>
    <string>shindagesh-hb.glif</string>
    <key>shindageshshindot-hb</key>
    <string>shindageshshindot-hb.glif</string>
    <key>shindageshsindot-hb</key>
    <string>shindageshsindot-hb.glif</string>
    <key>shindot-hb</key>
    <string>shindot-hb.glif</string>
    <key>shinshindot-hb</key>
    <string>shinshindot-hb.glif</string>
    <key>shinsindot-hb</key>
    <string>shinsindot-hb.glif</string>
    <key>sindot-hb</key>
    <string>sindot-hb.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.denominator</key>
    <string>six.denominator.glif</string>
    <key>six.numerator</key>
    <string>six.numerator.glif</string>
    <key>six.otlf</key>
    <string>six.otlf.glif</string>
    <key>sixinferior</key>
    <string>sixinferior.glif</string>
    <key>sixsuperior</key>
    <string>sixsuperior.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>softhyphen</key>
    <string>softhyphen.glif</string>
    <key>softsign-cy</key>
    <string>softsign-cy.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>strokeshortcomb</key>
    <string>strokeshortcomb.glif</string>
    <key>summation</key>
    <string>summation.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>tav-hb</key>
    <string>tav-hb.glif</string>
    <key>tavdagesh-hb</key>
    <string>tavdagesh-hb.glif</string>
    <key>tbar</key>
    <string>tbar.glif</string>
    <key>tcaron</key>
    <string>tcaron.glif</string>
    <key>tcommaaccent</key>
    <string>tcommaaccent.glif</string>
    <key>te-cy</key>
    <string>te-cy.glif</string>
    <key>tenge</key>
    <string>tenge.glif</string>
    <key>tet-hb</key>
    <string>tet-hb.glif</string>
    <key>tetdagesh-hb</key>
    <string>tetdagesh-hb.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.denominator</key>
    <string>three.denominator.glif</string>
    <key>three.numerator</key>
    <string>three.numerator.glif</string>
    <key>three.otlf</key>
    <string>three.otlf.glif</string>
    <key>threeeighths</key>
    <string>threeeighths.glif</string>
    <key>threeinferior</key>
    <string>threeinferior.glif</string>
    <key>threequarters</key>
    <string>threequarters.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>tildecomb.case</key>
    <string>tildecomb.case.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>tsadi-hb</key>
    <string>tsadi-hb.glif</string>
    <key>tsadidagesh-hb</key>
    <string>tsadidagesh-hb.glif</string>
    <key>tse-cy</key>
    <string>tse-cy.glif</string>
    <key>tsere-hb</key>
    <string>tsere-hb.glif</string>
    <key>tshe-cy</key>
    <string>tshe-cy.glif</string>
    <key>tugrik</key>
    <string>tugrik.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.denominator</key>
    <string>two.denominator.glif</string>
    <key>two.numerator</key>
    <string>two.numerator.glif</string>
    <key>two.otlf</key>
    <string>two.otlf.glif</string>
    <key>twoinferior</key>
    <string>twoinferior.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>twothirds</key>
    <string>twothirds.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>u-cy</key>
    <string>u-cy.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>ubreve</key>
    <string>ubreve.glif</string>
    <key>ucircumflex</key>
    <string>ucircumflex.glif</string>
    <key>udieresis</key>
    <string>udieresis.glif</string>
    <key>udieresis-cy</key>
    <string>udieresis-cy.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>uhungarumlaut</key>
    <string>uhungarumlaut.glif</string>
    <key>uhungarumlaut-cy</key>
    <string>uhungarumlaut-cy.glif</string>
    <key>umacron</key>
    <string>umacron.glif</string>
    <key>umacron-cy</key>
    <string>umacron-cy.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>uni05B8</key>
    <string>uni05B_8.glif</string>
    <key>uogonek</key>
    <string>uogonek.glif</string>
    <key>uring</key>
    <string>uring.glif</string>
    <key>ushort-cy</key>
    <string>ushort-cy.glif</string>
    <key>ustrait-cy</key>
    <string>ustrait-cy.glif</string>
    <key>ustraitstroke-cy</key>
    <string>ustraitstroke-cy.glif</string>
    <key>utilde</key>
    <string>utilde.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>vav-hb</key>
    <string>vav-hb.glif</string>
    <key>vavdagesh-hb</key>
    <string>vavdagesh-hb.glif</string>
    <key>vavholam-hb</key>
    <string>vavholam-hb.glif</string>
    <key>ve-cy</key>
    <string>ve-cy.glif</string>
    <key>verticalbar-cy</key>
    <string>verticalbar-cy.glif</string>
    <key>verticalbar-cy.case</key>
    <string>verticalbar-cy.case.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>wacute</key>
    <string>wacute.glif</string>
    <key>wcircumflex</key>
    <string>wcircumflex.glif</string>
    <key>wdieresis</key>
    <string>wdieresis.glif</string>
    <key>we-cy</key>
    <string>we-cy.glif</string>
    <key>wgrave</key>
    <string>wgrave.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>yacute</key>
    <string>yacute.glif</string>
    <key>yat-cy</key>
    <string>yat-cy.glif</string>
    <key>ycircumflex</key>
    <string>ycircumflex.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>yen.BRACKET.125</key>
    <string>yen.B_R_A_C_K_E_T_.125.glif</string>
    <key>yeru-cy</key>
    <string>yeru-cy.glif</string>
    <key>yerudieresis-cy</key>
    <string>yerudieresis-cy.glif</string>
    <key>ygrave</key>
    <string>ygrave.glif</string>
    <key>yi-cy</key>
    <string>yi-cy.glif</string>
    <key>yod-hb</key>
    <string>yod-hb.glif</string>
    <key>yoddagesh-hb</key>
    <string>yoddagesh-hb.glif</string>
    <key>yodyod-hb</key>
    <string>yodyod-hb.glif</string>
    <key>yusbig-cy</key>
    <string>yusbig-cy.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zacute</key>
    <string>zacute.glif</string>
    <key>zayin-hb</key>
    <string>zayin-hb.glif</string>
    <key>zayindagesh-hb</key>
    <string>zayindagesh-hb.glif</string>
    <key>zcaron</key>
    <string>zcaron.glif</string>
    <key>zdotaccent</key>
    <string>zdotaccent.glif</string>
    <key>ze-cy</key>
    <string>ze-cy.glif</string>
    <key>zedescender-cy</key>
    <string>zedescender-cy.glif</string>
    <key>zedieresis-cy</key>
    <string>zedieresis-cy.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.denominator</key>
    <string>zero.denominator.glif</string>
    <key>zero.numerator</key>
    <string>zero.numerator.glif</string>
    <key>zero.otlf</key>
    <string>zero.otlf.glif</string>
    <key>zeroinferior</key>
    <string>zeroinferior.glif</string>
    <key>zerosuperior</key>
    <string>zerosuperior.glif</string>
    <key>zhe-cy</key>
    <string>zhe-cy.glif</string>
    <key>zhebreve-cy</key>
    <string>zhebreve-cy.glif</string>
    <key>zhedescender-cy</key>
    <string>zhedescender-cy.glif</string>
    <key>zhedieresis-cy</key>
    <string>zhedieresis-cy.glif</string>
  </dict>
</plist>
